[2019-02-05 09:45] cristianbote opened #1 "css properties are trimmed for whitespace"
`transition: transform 300ms ease-out` -> `transition: transform300msease-out`.

I think the whitespace removal should not be that eager to remove the properties 😄
Also, I should add a test for that.

[2019-02-05 09:47] cristianbote opened #2 "(feature) media queries parsing"
Should support `@media` queries

[2019-02-05 09:48] cristianbote opened #3 "(feature) keyframes parsing"
Should support `@keyframes`

[2019-02-05 09:50] cristianbote opened #4 "(feature) Should lazy hydrate on the client"
Thinking that, on the client, instead of always recreating the `sheet`, we should:
* Check for a `existent` sheet element
* If exists, check for existing rule and do not write it again(might be causing flickering)

[2019-02-05 09:51] cristianbote opened #5 "(chore) add tests"
Add unit/e2e tests for everything.

[2019-02-05 10:03] cristianbote opened #6 "(chore) Extract functions into multiple files"
Maintenance could be dreadful, so, having the functionality broke down into pure functions, maybe?, could make it easier to maintain.

[2019-02-05 10:04] cristianbote opened #7 "(chore) add bundlesize at build time"

[2019-02-05 10:05] cristianbote opened #8 "(chore) Once it's public integrate travis-ci"

[2019-02-05 21:12] #1 closed, assigned to cristianbote

[2019-02-05 21:12] #2 closed, assigned to cristianbote

[2019-02-05 21:12] #3 closed, assigned to cristianbote

[2019-02-05 21:18] #7 closed, assigned to cristianbote

[2019-02-05 21:23] #8 closed, assigned to cristianbote

[2019-02-06 13:21] #4 closed

[2019-02-07 12:44] cristianbote opened #9 "(feature) vendor prefixing"
Figure out of this feature is needed

[2019-02-07 12:50] cristianbote opened #10 "(feature) `createGlobalStyle`"
Should be awesome to have this feature.

Food for thought:
[code]

[code]

[2019-02-07 13:48] cristianbote opened #11 "(bug) @media queries nested parsing"
Seems like there's a issue with nested selectors and media queries.

[2019-02-07 14:46] cristianbote commented on #11
Fixed in https://github.com/cristianbote/goober/commit/96ff7f5cef9b1f6646fcb7d4782669dde0d02b6c

[2019-02-07 14:46] #11 closed

[2019-02-07 15:19] imlinus commented on #9
If it's needed, then please have it made as a separate plugin,
I do love your goal of keeping it light <3

[2019-02-07 16:41] cristianbote commented on #9
Hey @imlinus, that's a great idea! 😃 Thanks for your feedback!

[2019-02-11 20:09] NomanGul opened #12 "can I use it with react native/expo?"

[2019-02-11 20:51] cristianbote commented on #12
Hey Noman! Thank you so much for reaching out!

Unfortunately, that would not work. The styling on react native, has a different kind of inner workings. So, I don't think this is gonna ever be working in react-native.

Also, if I'm not mistaken - it's been a while, react-native has great support for styling with stylesheets. Is there a particular reason you would like to use something else?

[2019-02-11 20:54] NomanGul commented on #12
@cristianbote Nope... Just asking because I like goober lib :+1:

[2019-02-11 20:55] #12 closed

[2019-02-11 21:06] kaheglar opened #13 "SSR Behavior"
Firstly nice lib, a minimal css-in-js solution is sorely needed!

From what I can see and there is a single global style cache and the extractCss() function will extract ALL cached styles? Is it then the case that, when rendering different content per page, ALL styles are embedded on each page (eventually)?

[2019-02-12 07:34] cristianbote commented on #13
Hey Stephen, thanks for dropping by! 😃

TL;DR; it's the same behaviour as using a _big_ `style` tag.

So, by doing SSR, you're actually sending down the styles already _collected_. On the client side, `goober` will pick-up the already sent style tag, and continue to append styles for component that are just rendered. And by `just rendered` that means, page navigation, component updates, and so on.

[2019-02-12 11:02] kaheglar commented on #13
Hi Cristian,

OK I'll try to clarify. Imagine we have a server app that renders 3 pages (based on url) specified below:

PageA = ComponentA + StyleA
PageB = ComponentB + StyleB
PageC = ComponentC + StyleC

We start the server and the first four request come in as follows:

1. User1 requests PageA and receives "ComponentA + StyleA".
2. User2 requests PageB and receives "ComponentB + StyleA + Style

[2019-02-12 11:41] cristianbote commented on #13
Oh, now I get it 👍 .
You are correct! That's a mishap from my side 💯 . The proper behaviour would be, when `extractCss` would be called, the cache should be emptied, after the style tag is passed. I'll get to it in a moment.

Good call Stephen!

[2019-02-12 12:10] kaheglar commented on #13
I guess this would work when the render call is synchronous and blocking, but what if it's not, e.g. ReactDOMServer.renderToNodeStream?

[2019-02-12 12:21] cristianbote commented on #13
Hmm, now I know what you were _actually_ talking about 😃. That would change the API a bit, but not too much. Maybe it's gonna increase the size a bit, but I'll have to find some other stuff to adjust.

Let me think about it and do some testing. I'll get back with a _async_ API.

[2019-02-22 23:34] cristianbote commented on #6
Done! 💯

[2019-02-22 23:34] #6 closed

[2019-02-22 23:36] cristianbote commented on #5
Done! 💯

[2019-02-22 23:36] #5 closed

[2019-02-22 23:47] cristianbote commented on #9
Alrighty! 😄

So, it's been a couple of fun weeks. I've rewritten the css parser and all the _under the hood_ compilation and I've managed to get the proper css support and generation - right now there are some corner cases, I believe.

With that in mind, what other libraries are doing, are using either https://github.com/thysultan/stylis.js or they make a case for post processing the statically ex

[2019-02-22 23:52] cristianbote opened #14 "Add support for object styles (JSS)"
Basically now, `styled` API could bypass the whole tagged template processing, and go straight to object to css compilation.

[code]

[2019-02-25 12:48] cristianbote opened #15 "Drop the extra function call for `css` API"
While talking with @michael-klein about support for web-components, we realized that the extra call for vanilla/css API it's just in the way. So, let's drop it! 💯

[code]

[2019-02-25 15:25] PepijnSenders opened #16 "Explain how this repo is 14x smaller than the current smallest CSS-in-JS solution"
Hey! 👋

Great initiative! Was wondering how your project is so much smaller than the other ones though, would be good to maybe add a write-up about this to the README.

Just an idea 😸

[2019-02-25 15:54] cristianbote commented on #16
Hey @PepijnSenders!

Thanks for asking that! 😄I'm bound to do some write-up, that's for sure. I should add an issue to track that.

So, my main motivation was the size of the current solutions - well established and popular ones. I started a project, with Preact, and I was about to add 11k to the bundle, just for _generating_ the styles. To put things in perspective, Preact has 3.5k, so over 3x th

[2019-02-25 15:59] cristianbote commented on #16
I just realized that you've already dabbled with these solutions 😃 https://github.com/hellofresh/css-in-js-perf-tests. Just last night I wanted to add goober to the list and do the bench.

Also, @michael-klein, is about to add support for web-components and a more straight-forward css API 🎉which I'm really excited about!

[2019-02-25 16:02] cristianbote opened #17 "Add support for web-components"
This is all @michael-klein's initiative 😄to add support for web-components with a parametrized _target_ for `styled`.

@michael-klein feel free to add more details. I've created this, to just put it on the roadmap 💯

[2019-02-25 16:12] PepijnSenders commented on #16
Hey @cristianbote, wow that AST-ish stuff is some magic! Really cool. I actually worked with CXS before as well and found it to be a bit buggy at the time and the support for it kinda died. I really loved the functional syntax at the time though!

So if I understand you correctly libraries like styled-components and emotion parse a lot of stuff manually where you serialize it directly into usable

[2019-02-25 16:13] PepijnSenders commented on #16
And oh yeah that repo is a bit dead 😅, really need to start accepting some PR's again.

[2019-02-25 16:14] PepijnSenders commented on #16
And I actually stumbled on this repo because I was also starting a super tiny preact project and was trying to add as little bytes as possible. Was going to add emotion initially but this looks like a much better fit!

[2019-02-25 16:32] cristianbote commented on #16
Glad you considering it! 😄 There's a much tiny solution, if you use webpack or rollup, at zero B runtime size, it's https://github.com/callstack/linaria. It's extracting the css into static files and there's the leverage.

[2019-02-25 20:35] michael-klein commented on #17
Hey there :)

So, for web-components, a single global style sheet obviously doesn't work, due to shadow DOM. Therefore, goober would need a mechanism to render to different targets (like the shadowRoot of a web component).

I played with a few ways to implement this and my current favorite is to do it by means of a function binding on styled (which would pass the target to the functions that need

[2019-02-25 21:50] cristianbote commented on #17
Hey @dan-harris! 😄
I know you've _really_ liked the `setPragma` paradigm. @michael-klein is proposing something like `htm` https://github.com/developit/htm, where you'll have to bind the `styled` method. Do you see any concerns? What's your feedback be for this breaking change?

[code]

[2019-02-25 21:56] cristianbote commented on #15
Merged! 🎉

[2019-02-25 21:56] #15 closed

[2019-02-26 00:55] dan-harris commented on #17
Hey @cristianbote 👋. Kudos again for a very cool library!
Also great stuff @michael-klein 🙌.
You guys da real MVP.

I think the bind method is nice 👍. No problems with this over `setPragma` . Have vaguely played with htm/preact (but not in a production environment)... so admittedly, I feel like my authority to comment on this is a little low...

Also, gave me a random idea.
Not 100% sure on whethe

[2019-02-26 09:54] cristianbote commented on #17
Awesome @dan-harris! Thank you! Really appreciate your feedback. Stay tuned and/or join the party! 😄

[2019-02-26 11:20] michael-klein commented on #17
Sounds cool! I'm currently trying to finish  the implementation. It works already but I'm looking for ways to shave off some bytes if I can (though it's still under 1kb)

[2019-02-26 12:45] cristianbote commented on #13
Hey @kaheglar, so I've done some research on how this could/should be implemented.

TL;DR; For now, because of the size increase, I'm tempted to not include it.

I have a rundown on how it could work and I was able to implemented it. So, given this server example:

[code]

So to manage to write on the stream we need to create our own stream and pipe the `res` to it. And for each `add()` call from

[2019-02-26 12:45] #13 closed

[2019-02-26 15:14] cristianbote commented on #14
Hey @sergiubologa I have a branch with this implementation prepared. I'd like to merge it and do a release for 1.0.3 with it. Hopefully you don't mind me stepping over. Let's sync if there's something else you'd like to contribute with.

Thank you so much!

[2019-02-26 17:19] #14 closed

[2019-02-26 17:19] #10 closed

[2019-02-26 21:43] #17 closed

[2019-02-27 06:43] cristianbote opened #22 "Handle refs in React"
Seems that refs for functional components can not be forwarded. Goober should handle that.

[2019-02-27 06:45] cristianbote opened #23 "Same web component added more than once"
There's an issue where using the same web component twice would end-up not styled, but with the className generated.

[2019-02-27 06:46] cristianbote opened #24 "Perf tests"
We should benchmark and create a baseline for each part of the project.

[2019-02-27 07:52] cristianbote opened #25 "Add browser support table in README"
Apparently we can go as low as IE10 😄 but we need to document it.

[2019-02-27 10:44] michael-klein commented on #23
Some more information: The problem is that right now, we basically have a single cache that we check to figure out if a style has already been added to the page. This means that if say, we have two instances of a web component on the page only the first would get their style tag populated, because the system thinks that the styles were already rendered for the second.

I have a solution to handle

[2019-03-01 20:07] cristianbote opened #28 "Typings"

[2019-03-01 20:16] #23 closed

[2019-03-02 15:11] cristianbote opened #29 "Create preact-cli template for goober"
To make it easier to adopt goober, we should have a preact-cli template, ready to go!

[2019-03-02 15:12] cristianbote opened #30 "next.js template"
Create a next.js template, to make it easier for people to adopt it.

[2019-03-02 15:25] cristianbote opened #31 "Add support for camelCase to dash-case transformation for objects"
I've tried adding it, but it went over the `1000B` so it's under our target. It's not that _difficult_ to add support for it, basically here: https://github.com/cristianbote/goober/blob/master/src/core/parse.js#L37 we should just do a regex transform.

[2019-03-02 15:52] cristianbote opened #32 "Add in-memory cache for classNames and compiled css"
At the moment, there's no cache system to bail the _heavy_ lifting class and css generation. Adding it, improves the perf, quite a bit.

The test case was:
200 items, 1000 raf calls

Before
<img width="850" alt="screenshot 2019-03-02 at 17 47 39" src="https://user-images.githubusercontent.com/3405161/53684238-a2696580-3d13-11e9-8376-d07df5e9116d.png">

After
<img width="636" alt="screenshot 2019-0

[2019-03-04 18:03] pmkroeker commented on #28
I'm working on this currently! I'll submit a PR hopefully in the next few days that at least adds some basic typings to the exports!

[2019-03-04 19:58] cristianbote commented on #28
Thank you! 😄You rock!

[2019-03-04 21:32] pmkroeker commented on #28
Opened PR #33 !

[2019-03-05 17:46] pmkroeker commented on #28
PR #33 is considered feature complete. At least for the time being. The good thing is that updating the typings to allow camelCase instead of strictly kebab-case should be straight forward if that implementation goes ahead.

[2019-03-05 21:13] pmkroeker commented on #28
This can be closed #33 .

Thanks!

[2019-03-06 06:43] #28 closed

[2019-03-06 12:31] #32 closed

[2019-03-07 21:37] pmkroeker opened #35 "Bug - Cannot find csstypes"
As csstypes is listed as a devDependency it cannot be found when trying to import to the types file.

[2019-03-07 23:19] pmkroeker commented on #35
csstype has been moved to a peerDependency. Thanks @cristianbote!

[2019-03-07 23:19] #35 closed

[2019-03-07 23:27] robertwbradford commented on #9
Great library! I like the idea of a plugin or additional module which includes the option. We use currently use styled-components, and it is nice not to have to worry about adding them all over.

Perhaps it could work with https://github.com/browserslist/browserslist to determine which prefixes are needed.

[2019-03-07 23:31] robertwbradford opened #37 "Question: Could this support props-based styles?"
Thank you for the great library! We currently use styled-components and find ourselves needing styles based on props fairly often. (i.e., https://www.styled-components.com/docs/basics#passed-props)

Haven't looked into styled-components' internals, but would this be possible without too much bloat?

[2019-03-08 08:50] cristianbote commented on #37
Hey @robertwbradford, thanks for opening this issue!

Yes. All that `goober` does is basically append the generated `className` to the passed in `props`, which in turn are just send to the `createEement`(pragma) method. So, whatever the host renderer supports, `goober` does as well.
Here's a codesandbox with the exact example from `styled-component` docs. https://codesandbox.io/s/1ylj8jy5xj

Let m

[2019-03-08 08:50] #37 closed

[2019-03-08 08:52] cristianbote commented on #9
I think a separate, pluggable, package for `goober` might be something worth looking into. We were discussing adding the `styled.<tagName>` support as well, as a separate package, so maybe this could be created as well as a package.

I'll reopen it, and see where it leads.

[2019-03-08 16:35] robertwbradford commented on #37
Super, thanks!

[2019-03-08 16:39] robertwbradford commented on #9
Sounds good!

<my-two-cents>
  As for the `styled.<tagName>` syntax, while it is nice, it does start to add weight to the library. For me using `styled("<tagName>")` would be just fine and it provides a single interface that works for HTML element names, React components, and custom elements.
</my-two-cents>

[2019-03-08 17:00] brantem opened #38 "Add support for @import"
`@import url('https://fonts.googleapis.com/css?family=Roboto');` will translate into `{https://fonts.googleapis.com/css?family=Roboto');}`

[2019-03-08 17:22] pmkroeker commented on #38
This should probably just get flattened like how `@keyframe` is.

[2019-03-08 18:18] pmkroeker opened #39 "css returning same hash for different properties."
It seems like every call to css is outputting the same hash.

[code]
outputs `g015475 g015475`

Could this be related to the caching update? Seemed to be working properly before that was added.

[2019-03-08 18:43] pmkroeker commented on #39
The final css is:
[code]

[2019-03-08 19:06] pmkroeker commented on #39
I should note that will string template literals this seems to work fine, but objects seem to generate a hash that is identical.

[2019-03-08 20:25] cristianbote commented on #39
Ah, indeed! I messed up the keys I think. Let me look into it. Thank you @pmkroeker!

[2019-03-08 20:25] pmkroeker commented on #39
Just submitted #41 with a potential fix!

[2019-03-08 20:29] cristianbote commented on #38
Hey @brantem, thank you for submitting this issue. Indeed, it seems that the `@import` syntax is not picked up by the _parse_ regex. My bet is the lack of `:` between `@import` and `url()`.

[2019-03-08 21:53] pmkroeker commented on #38
Could we check for `^@i` and just return the string if true? I don't think `@i` is used for anything else in CSS.

[2019-03-09 13:34] #39 closed

[2019-03-09 13:45] cristianbote commented on #38
That would work, for sure, but I'm thinking of re-thinking the parser and shave some more bytes. I'll get back with more stuff.

[2019-03-09 13:46] #16 closed

[2019-03-10 15:25] geocine commented on #17
@michael-klein is there a documentation on how to use this?

[2019-03-10 16:05] cristianbote commented on #17
Hey @geocine, check out this tweet https://twitter.com/cristianbote_/status/1100513333940240384?s=20 and also the readme section on vanilla css https://github.com/cristianbote/goober/blob/master/README.md#csstaggedtemplate.

Let us know if there's more info you need on using it.

[2019-03-21 03:07] totsteps opened #44 "[Help wanted] Gatsby Plugin"
Thanks for the great library ♥️. I am trying to create a `gatsby-plugin-goober` but couldn't get the tests passing.

I am not really good with the tests 😬.

Repo: https://github.com/gagan0723/gatsby-plugin-goober

[2019-03-21 10:13] cristianbote commented on #44
Awesome job @gagan0723! 🎉Really love how the community is contributing to this little library.
I'm gonna open a PR to your repo, in a few, with the tests fixes and some improvements.

I'm thinking to create a `packages` folder where we could keep all these packages. If you're open to it, we could move this under that. Either way, it's _your_ contribution 😃therefore you decide.

We'll do the next.j

[2019-03-21 10:19] cristianbote commented on #44
Here's the PR https://github.com/gagan0723/gatsby-plugin-goober/pull/1

[2019-03-21 17:09] gagan0723 commented on #44
Thanks for the PR. Yeah, we can move `gatsby-plugin-goober` under `packages` 😀.

Closing this for now.

[2019-03-25 20:00] gagan0723 commented on #44
I want to keep this opened until we done moving `gatsby-plugin-goober` under `packages`.
Copying over the whole folder should do the job.

[2019-03-25 21:02] cristianbote commented on #38
Fixed in https://github.com/cristianbote/goober/commit/0c687bb53bfcff4b13bb2b06d08cb703f6a259f8

[2019-03-25 21:02] #38 closed

[2019-03-25 21:03] cristianbote commented on #31
FIxed in https://github.com/cristianbote/goober/commit/e70513e045ee29f5187df22584ec7a4e7b4888c8

[2019-03-25 21:03] #31 closed

[2019-03-25 21:04] cristianbote commented on #44
On it! 😄Will create the packages folder and we can go from there

[2019-03-25 21:17] pmkroeker commented on #31
I can update the typings to support this for people who use the object notation with typescript

[2019-03-25 21:35] cristianbote commented on #31
Sweeet! 😄

[2019-03-25 21:50] cristianbote commented on #25
Closed https://github.com/cristianbote/goober/commit/11e3574cdf6b7890a02334b80168783fdd27c369

[2019-03-25 21:50] #25 closed

[2019-04-11 13:05] jeremy-coleman opened #46 "maybe helpful"
similar implementation here, hope you find something helpful. the stylesheet implementation is especially nice, try it in an IDE.
[code]

[2019-04-11 19:36] cristianbote commented on #46
Hey @jeremy-coleman! Thanks for opening this issue!

Indeed https://github.com/cxs-css/cxs is such a nicely done project. I've stumbled upon it, in my _search_ for the minimal `styled` paradigm. `cxs` is definitely _fast af_ as they would put it 😄

One thing that `goober`, I believe, is good at is offering both paradigm, the object style and template literals, in under 1KB. And on top of that havi

[2019-04-11 19:36] #46 closed

[2019-05-03 09:17] cristianbote opened #48 "(bug) Rule orders are not kept when extending a previously defined component"
Having these defined:
[code]

This is mainly a concurrency issue. The css compilation starts when the component would end-up created. Should start at creation, or at least assign a _slot_ and then commit to that slot when rendered.

[2019-05-03 09:25] cristianbote opened #49 "(bug) Nesting selectors with multiple bodies does not get splitted into two separate rules"
As @uppercod stated on twitter(https://twitter.com/Uppercod/status/1118912434239090688).
[code]

He kindly already has a fix for this #47! 🎉

[2019-07-24 03:14] gagan0723 commented on #44
@cristianbote any updates on this? Thanks

[2019-09-06 13:31] cristianbote commented on #48
Fixed in `1.4.0`

[2019-09-06 13:31] #48 closed

[2019-10-02 08:12] fabiancook opened #51 "Option for className or class?"
https://github.com/cristianbote/goober/blob/831917013b16141d08feb1b88a304da5ee69269f/src/styled.js#L21

It would be great if we could utilise `class` instead of `className`

I utilize `class` as I'm writing direct one to one with static html

[2019-10-02 08:14] fabiancook commented on #51
This could work the same as `setPragma`

`setClassNameProperty(property: string)`

It wouldn't work nice for types though, I think if you were to support typescript types completely you would need to have both the pragma and class name as direct options to `styled`

[2019-10-02 09:13] cristianbote commented on #51
Hey @fabiancook thanks for opening this issue!

Using `class` vs `className` is actually quite different in terms of code path. `class` is an attribute and `className` is a property. Setting `class` uses `.setProperty` and `className` is basically a getter/setter that handles the DOM updates internally. Take a look over this bench https://esbench.com/bench/5d9464444cd7e6009ef62801.

I had a quick

[2019-10-02 12:11] mjanssen opened #52 "Type definitions for styled() functions"
When using typescript with styled component libraries, you can pass the type of the props to the styled Component, to enforce correct property names and having autocompletion for the props object.

**Example**
[code]

With Goober, I'm getting the following typescript problem when implementing the same syntax.

![image](https://user-images.githubusercontent.com/1145427/66042870-f6dcf980-e51d-11e9-9

[2019-10-02 19:16] cristianbote commented on #52
Summoning @pmkroeker 😄 What do you think? Is that doable?

Peter wrote the entire type definitions so he's the most capable one to answer that question.

[2019-10-02 19:40] pmkroeker commented on #52
Ya that should be pretty straightforward. I can take a look quick. Pretty busy with work right now, but it should be a pretty simple fix.

[2019-10-02 20:30] fabiancook commented on #51
Perfect that's what I was looking for then, works in all scenarios, I could then wrap that same function with whatever I wanted, so that works as well.

Thank you!

[2019-10-02 20:30] #51 closed

[2019-10-02 20:31] fabiancook commented on #51
As a reference as well, because I'm targeting only static html, the difference of `setAttribute` and setting the property doesn't change too much for me

[2019-10-02 20:36] cristianbote commented on #51
I'm glad you can use the `css`. Fun fact, `styled` uses the same `css` internally 😄 and just returns the `className`.

[2019-10-03 06:33] realignedTech opened #54 "@font-face escaping"
There seems to be an issue with the @font-face notation. When supplied via glob() it gets double { } so this

` @font-face {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 400;
    src: local("Source Sans Pro Regular"), local("SourceSansPro-Regular"),
      url(${woff2}) format("woff2"),
      url(${woff1}) format("woff");
  }` translates to

`@font-face{{font-family:

[2019-10-03 07:56] #54 closed

[2019-10-03 07:57] cristianbote commented on #54
Thank you! 😀 that was indeed a strange one. I'm gonna do the release soon.

[2019-10-13 18:54] #52 closed

[2019-10-24 05:40] cristianbote opened #56 "(chore) switch to a monorepo to include the templates as well"
It'll be helpful to have a `lerna` monorepo, so we could have the same related packages inside one main repo.

[2019-11-21 16:41] kolodziejczakM opened #57 "Incomplete TypeScript definitions - 'goober' has no exported member 'glob'"
![obraz](https://user-images.githubusercontent.com/16230707/69357756-f4795f00-0c85-11ea-8428-feda001ff06c.png)
![obraz](https://user-images.githubusercontent.com/16230707/69357809-0bb84c80-0c86-11ea-9f65-3dabacf0f338.png)

[2019-11-22 07:02] cristianbote commented on #57
Hey @kolodziejczakM, thanks for opening this and taking the time to look into it! Indeed that seems to be missing. Do you wanna open a PR for it? That would mean a lot for me.

Have a great one, cheers!

[2019-11-22 20:36] #57 closed

[2019-11-22 20:38] kolodziejczakM commented on #57
Oh you're faster than me 👍

[2019-11-23 08:57] cristianbote commented on #57
Oh, sorry about that. I thought I should fix it, since I was adding some tests. Feel free to grab any other issue or improvement 😉 it's wide open.

[2019-11-26 10:06] mg901 opened #59 "How to use with postcss?"
Hi, thank you for you awesome tool? Is it possible to share with postcss plugins?

[2019-11-27 07:19] cristianbote commented on #59
Hey @mg901 thanks for reaching out! :)
That's a pickle! I haven't used it before with postcss. What would this entail? Or more exactly what's the exact setup where yo have postcss running along with goober? If there's a repo you could share or an example, that would be even more helpful to debug.

[2019-12-09 14:10] nygdjs opened #61 "Theming solution?"
Thanks for this absolute awesomeness! I'm super excited, as on one of my projects we are currently try to find powerful, yet very lightweight solutions, and goober seems to fit in perfectly.
However I use styled-components on other projects for many reasons, but one of them surely is the powerful theming built-in.
Do you plan something similar, or have any idea how to do something like that?

[2019-12-09 20:45] cristianbote commented on #61
Hey @nygdjs, thank you so much for your kind words! Really appreciate it!

So, theming is something that would increase the size of the bundle and would require `goober` to be specifically integrate with your framework. That means, `web-componens` could not make use of goober and `preact` for example would need to include the `preact/compat` layer to handle the theming part -- since that would rel

[2019-12-10 06:58] donysukardi commented on #61
This seems doable if `gobber` provides a settable additional props getter/hook.

In gobber,

[code]

In user code,

[code]

[2019-12-10 13:02] Hotell commented on #56
btw yarn workspaces are all you might need. but ofc YMMV 🌻

[2019-12-10 13:07] Hotell commented on #61
I had impression that context api is build in within Preact X no ? https://preactjs.com/guide/v10/context

[2019-12-10 13:08] Hotell commented on #61
I suggest to have theming provider as separate package to not increase lib size etc -> also it's always cleaner approach to have plugins 👌

[2019-12-10 14:06] cristianbote commented on #61
@Hotell yup, preact has the context api in core, but integrating the context api as imported from `React`, would mean other libs would have to add their compat layers to mock `React`.

[2019-12-10 14:31] donysukardi commented on #61
With my proposal above, the integration with context api is done on userland (via hook) so the library is still agnostic

[2019-12-10 17:58] timgivois commented on #30
@cristianbote The template should be in codesandbox? Is there any specific example on how to use it? Could you give more details?

[2019-12-10 20:25] cristianbote commented on #30
Hey @timgivois! Thanks for asking! Basically I was thinking to have an example repo, like `styled-components` has in here https://github.com/zeit/next.js/tree/canary/examples/with-styled-components.

It wouldn't be _that_ different. We would basically need to call `extractCss` and put it in a style tag. 😄

[2019-12-10 20:31] cristianbote commented on #61
Just looked over, a second time. You are right 👍💯Do you wanna open a PR? 😄
Also, how about we merge the `setPragma` and `setTheme`? Hopefully we could save some more bytes

[2019-12-10 20:33] cristianbote commented on #56
Yeah, `worksapaces` would definitely work, just fine, I only like `lerna` because of the out-of-the-box no hoisting 😄 so it doesn't get in your way.

I should add the packages though. That way it's gonna be easier to add the missing puzzle pieces.

[2019-12-10 21:14] timgivois commented on #30
Cool, gonna work on that @cristianbote

[2019-12-10 22:08] cristianbote opened #69 "(feat) Add/create a babel plugin for `styled.<tagName>`"
As @jviide built this https://github.com/jviide/babel-plugin-transform-styledodo we could leverage it and create a babel plugin, to help people used with the `styled.div` pattern.

[2019-12-11 01:37] donysukardi commented on #61
What do you think of having a `setup({ pragma, forwardRef, useTheme })` function instead?

[2019-12-13 08:42] cristianbote opened #73 "Where to discuss about and direction of goober? Should we keep gitter, slack or ...?"
Currently goober has the gitter chat room to be able to chat and discuss. Recently I've setup a slack workspace as well. But I'm wondering what would be the best option?  I'm currently online constantly on slack so I'm really inclined to move the discussion in there.

Would you as part of the community, use slack to get in touch and talk about goober?

Looking forward to your feedback! ✌️

Edit: H

[2019-12-14 16:24] pronevich opened #75 "Trim a few bytes, but mutate arguments"
Goober trying be as small as possible. Does it make sense to trim bytes by using `shift` instead `slice` by mutating arguments in `css()`?

[code]

1017B > 1014B

[2019-12-15 07:52] cristianbote commented on #75
Hey @pronevich thank you for opening this! Really appreciate it!

This looks really good! 🙂 Really like it! Would you like to open a PR?

[2019-12-15 08:18] pronevich commented on #75
Sure)

[2019-12-15 09:10] pronevich commented on #75
I just realized that this code won't pass tests: ` TypeError: arguments.shift is not a function`. What is quite understandable.

[2019-12-19 11:10] cristianbote commented on #75
Ah, yeah indeed. In any case that was a nice proposal! 😃 thank you for your time!

[2019-12-19 11:10] #75 closed

[2019-12-22 23:14] greenkeeper[bot] opened #79 "An in-range update of emotion is breaking the build 🚨"
## There have been updates to the *emotion* monorepo:

 + - The `devDependency` [@emotion/core](https://www.npmjs.com/package/@emotion/core) was updated from `10.0.22` to `10.0.27`.
- The `devDependency` [@emotion/styled](https://www.npmjs.com/package/@emotion/styled) was updated from `10.0.23` to `10.0.27`.

🚨 [View failing branch](https://github.com/cristianbote/goober/compare/master...cristianb

[2020-01-03 23:06] alexieyizhe opened #80 "TypeError when using with TypeScript"
Hi there! Amazing work with this library.

I'm using it with Preact's TypeScript template, and it's throwing an error since the type expects children to be a property on the goober `StyledVNode`:

![image](https://user-images.githubusercontent.com/17508679/71754262-6d5a0200-2e53-11ea-88be-65a9ad1fe644.png)

When I change the definition to:
[code]
it works fine.

The examples don't seem to have to

[2020-01-06 08:37] #79 closed

[2020-01-08 07:41] cristianbote commented on #44
@totsteps finally managed to get it done! Kinda late but better late than never, I guess.
Here's the pr #81

[2020-01-08 07:49] #44 closed

[2020-01-08 07:53] cristianbote commented on #24
These exists in `benchmark` folder.

[2020-01-08 07:53] #24 closed

[2020-01-08 11:19] totsteps opened #82 "Goober fork published on npm!!"
I found this guy with the name **Nikhil Saraf** who published goober fork under his name as [@nksaraf/goober](https://www.npmjs.com/package/@nksaraf/goober) on npm!!

Github https://github.com/nksaraf

@cristianbote

[2020-01-13 22:51] alexieyizhe commented on #80
@cristianbote I've opened a PR that should fix this issue along with one other.

[2020-01-14 06:25] cristianbote commented on #80
Fixed in #85

[2020-01-14 06:25] #80 closed

[2020-01-14 06:28] cristianbote commented on #82
Hey @totsteps, thanks for pointing it out. No worries here. I think he did that so he could explore integrating it with his work -- seeing that `@nksaraf/goober` it's used by `preact-box` and `@react-box/preact`.

Keep up the good work! 😉

[2020-01-14 06:28] #82 closed

[2020-01-15 14:03] JoviDeCroock commented on #69
I don't mind looking into this in the near future, the goal of this would be to achieve syntactical parity to `styled-components or @emotion/styled`?

[2020-01-15 14:14] cristianbote commented on #69
Thank you @JoviDeCroock! :) So happy to have you here!

Do you know if there _are_ differences between them?

[2020-01-15 15:54] jviide commented on #69
Had a chat with @JoviDeCroock, who encouraged me to finally collect the stuff from https://github.com/jviide/babel-plugin-transform-styledodo and create PR #86.

[2020-01-15 20:20] greenkeeper[bot] opened #88 "An in-range update of babel7 is breaking the build 🚨"
## There have been updates to the *babel7* monorepo:

 + - The `devDependency` [@babel/core](https://www.npmjs.com/package/@babel/core) was updated from `7.7.7` to `7.8.0`.
- The `devDependency` [@babel/plugin-transform-react-jsx](https://www.npmjs.com/package/@babel/plugin-transform-react-jsx) was updated from `7.8.0` to `7.8.3`.
- The `devDependency` [@babel/preset-env](https://www.npmjs.com/pac

[2020-01-15 23:02] raulgg opened #89 "css(taggedTemplate) styntax is returning a string instead of a function"
I was following the documentation for the css syntax and trying to test it on my project I found that css is returning a string with the classname hash instead of returning a function as showed in the docs.

https://github.com/cristianbote/goober/blob/master/README.md#csstaggedtemplate

I took a look into the source code and it seems that returning the hash instead of the function seems intentiona

[2020-01-16 06:05] cristianbote commented on #69
Merged in #86

[2020-01-16 06:05] #69 closed

[2020-01-16 06:13] cristianbote commented on #89
Hey @raulgg! Thanks for opening this issue.

Yeah it's a documentation error 😅 would you like to open a PR to fix it? I would really appreciate it.

[2020-01-16 06:13] #88 closed

[2020-01-17 17:26] raulgg commented on #89
Sure, I'll take some time to update the docs over the next two days.

[2020-01-19 13:02] igorsheg-wix opened #91 "Typescript - Expected X arguments, but got Y"
Hi there! Awesome work with this library.

I'm using `preact-custom-element` with TypeScript,  and it's throwing an error since when trying to use props inside a `styled` more than once

<img width="572" alt="image" src="https://user-images.githubusercontent.com/26436913/72681404-d97f6b80-3acb-11ea-92bd-4aed36e66fbe.png">

I'm getting:

[code]
The examples don't seem to have to specify this, so is

[2020-01-20 07:20] cristianbote commented on #91
Hey @igorsheg-wix, thank you so much for opening this one and I appreciate you checking out goober 😄 I confirm this is an issue and I'm looking into it.

[2020-01-20 20:30] #91 closed

[2020-01-20 20:37] cristianbote commented on #91
Hey @igorsheg-wix the fix is in `goober@1.6.4`. Let me know if there are other issues.

Thank you for reporting this, I really appreciate it!

[2020-01-21 08:00] igorsheg-wix commented on #91
@cristianbote Fixed! thanks for the quick response! ❤️

[2020-01-21 08:20] igorsheg-wix commented on #22
@cristianbote any news regarding this bug? :)

[2020-01-24 16:08] manuschillerdev opened #97 "Planning to support CSSStyleSheet API / insertRule?"
Are you planning to support CSSStyleSheet API / insertRule in the future?

If so, i would gladly contribute the feature :)
I created a minimalistic POC here: https://codesandbox.io/s/rough-platform-vs3t3

Browser Support:
https://caniuse.com/#search=CssStyleSheet

pros:
- runtime performance(!!!)
- maybe we will need some less bytes

cons:
- styles are not editable via DevTools

emotion uses const

[2020-01-24 16:37] manuschillerdev commented on #73
Where can I find the slack channel? Would love to join :)

[2020-01-24 18:55] cristianbote commented on #97
Hey @manuschillerdev Thanks for opening this issue! 😄 Yes! That's on my todo list for while now and didn't had enough time to get to it.

That's a nice demo you got in there! :) seems like it could trim down the sizes as well.

Feel free to open a PR if you want this is awesome!

[2020-01-24 18:55] cristianbote commented on #73
Heyo! It's `gooberdev` as a space name. 😄 It's just me in there for now!

[2020-01-27 06:16] ryansolid opened #98 "Any solution for specificity for `css`"
I've been testing Goober with my library Solid (https://github.com/ryansolid/solid). It uses JSX but no VDOM, but rather a reactive system. It doesn't compile JSX to HyperScript variant so using the built-in Styled in this library isn't applicable. However, the css helper is easy to wrap into `styled` variant.

One thing I noticed was that `styled` in this library seems to just concat classNames a

[2020-01-27 07:29] cristianbote commented on #98
Hey @ryansolid,

Thanks for opening this question and trying goober for solid! 😄

So, `styled` does have the specificity awareness based on previous classes being present which would dictate the append or prepend method. It's in here: https://github.com/cristianbote/goober/blob/master/src/styled.js#L20.

If you want to mimic the `styled` with `css` that would mean you'd have to wrap css and pass t

[2020-01-27 07:31] cristianbote commented on #89
Closed via @raulgg PR. Thanks a bunch!

[2020-01-27 07:31] #89 closed

[2020-01-27 08:30] ryansolid commented on #98
Awesome. This is what I was looking for. I missed that piece around the `_ctx` object. It simplifies things greatly. Thanks for taking the time to make a working example.

With that knowledge I'm going to see what other applications using `css` there are. Since all the core functionality is there and the `styled` approach is a minor deoptimization in Solid as it breaks apart templates. Solid's com

[2020-01-27 08:30] #98 closed

[2020-02-01 22:26] kolodziejczakM opened #102 "glob renders at most one @font-face, the last one."
As you can see in the screenshot only last @font-face has been put into <style id="_goober">:

![@font_face_in_glob](https://user-images.githubusercontent.com/16230707/73599901-9b615d80-4549-11ea-979b-24a2ff30fee6.png)

Reproduced here: https://codesandbox.io/s/interesting-rubin-twrr1

[2020-02-02 11:08] cristianbote commented on #102
Hey @kolodziejczakM, thank you for opening this issue. Undoubtedly this is an issue. ☹️  and It makes total sense for it to happen. Internally, `goober`, tokenises each selector or definition into an object key which get's serialised into CSS.

This is definitely something that `goober` should handle seamlessly. Until there's a fix, I think you could instead of just one `glob` call to call it sequ

[2020-02-02 11:15] kolodziejczakM commented on #102
I've managed to work around this problem by adding fonts separately without even using goober:
[code]
Nonetheless I decided to raise an issue so you @cristianbote know about its existence.
I'm not going to PR it though, at least not in the near future.

[2020-02-03 19:19] greenkeeper[bot] opened #103 "An in-range update of preact is breaking the build 🚨"
## The devDependency [preact](https://github.com/preactjs/preact) was updated from `10.2.1` to `10.3.0`.

🚨 [View failing branch](https://github.com/cristianbote/goober/compare/master...cristianbote:greenkeeper%2Fpreact-10.3.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

preact is a devDependency of this project. It *

[2020-02-04 02:04] mpkelly opened #104 "Please document supported CSS"
Hello,

Great project and one which I am keeping an eye on. I tried to use Goober on a project of mine and while it worked for 90% of stuff there were some weird bugs when I started nesting rules and using pseudo selectors - sorry I didn't report them. In the end I switched over the styled-components so I could keep working but I'd like to use Goober as my project is a text editor and goober is sm

[2020-02-04 07:36] cristianbote commented on #104
Hey @mpkelly! Thanks for opening this issue!

That's kinda strange cause nesting should be fine as long as you follow the `stylis` pseudo css code. Would definitely help an example. There's a case where nesting multiple pseudo-selectors can get weird in terms that the output it's larger than it should.

I would love to have an example, that would help a lot.

[2020-02-04 07:37] #103 closed

[2020-02-04 07:54] mpkelly commented on #104
@cristianbote I figured there was some known issues/limitations that weren't documented so didn't provide an example. It was actually a month or so ago when I hit these problems and switched to SC. I'm am almost done with my side project and will try switching back to Goober in the next week or two. I will report any issues I hit and open a new ticket. Thanks!

[2020-02-04 07:54] #104 closed

[2020-02-05 11:55] inandsza opened #105 "`glob` styles to apply on SSR"
hellooo!

Not sure if this is an issue or I need to do something to make the glob styles apply on the server

Do the 'glob' styles only get applied on the client?
Is there a way to make it apply on the server with the rest of the css?

[2020-02-06 06:47] cristianbote commented on #105
Hey @inandsza, thanks for opening this issue!

Can you share your setup? I can give more info on it if I can play with a reproducing example.

[2020-02-06 20:49] raulgg opened #106 "Only the first call to glob is being added to the styles"
I was intending to make different calls to glob from different points of the app expecting all of the styles would be applied globally. But only the first call to glob is being put into the styles tag in the head.

I've reproduced the issue in a simple example here https://codesandbox.io/s/goober-glob-example-5rmwt

Apparently the styles are being cached with the key '' on the first call and every

[2020-02-06 23:19] raulgg opened #108 "0 (zero) values in tagged templates aren't being parsed"
When a 0 (zero) is is being passed to a tagged template it isn't being parsed into the CSS output.

I've set up a simple example reproducing this small issue.

https://codesandbox.io/s/goober-template-issue-vxlmf?fontsize=14&hidenavigation=1&theme=dark

![Screen Shot 2020-02-06 at 14 37 09](https://user-images.githubusercontent.com/7021021/73984742-31044080-48ee-11ea-943b-c18f1ef5677a.png)

![Scre

[2020-02-07 07:02] cristianbote commented on #108
Hey @raulgg! Thank you for opening this issue! Oh wow, having a reproducing example is soooo awesome to be able to see the issue. 👍

Indeed, apparently inside here https://github.com/cristianbote/goober/blob/master/src/core/compile.js#L31 that line should basically check for nullish values instead.
[code]

If you feel like it, you can open a PR with that exact fix 😄 if not I'll do it later.

[2020-02-07 07:15] cristianbote commented on #106
Hey @raulgg thanks for opening this issue!

So, indeed, `glob` would basically be kept in an reusable key. Looking at styled-components https://styled-components.com/docs/api#createglobalstyle seems that the solution would be something like:
[code]

I've added the `question` label cause this might not be a bug but rather a confusion caused by my lack of proper documentation for `glob`.

[2020-02-07 20:43] raulgg commented on #106
I think I either didn't explain my issue clearly or I'm maybe misunderstanding you now.

While I like and understand how styled-components does this, goober's glob is just returning an empty string. When I use glob in different components only the styles from one of the components are added to <styles id="_goober"> in the head.

My understanding is that this happens because the classname key used

[2020-02-07 22:01] cristianbote commented on #106
Oh, wow! I was way off in there. 😜 Ok, now it's clear. And you are spot on! Basically the cache key needs to be computed for each global same as any rules, and move the short-hand if inside when calling `parse`.

I'll open a PR shortly.

[2020-02-07 22:20] cristianbote commented on #108
Fixed in `goober@1.7.0` 🎉

[2020-02-07 22:20] #108 closed

[2020-02-07 22:20] cristianbote commented on #106
Fixed in `goober@1.7.0` 🎉

[2020-02-07 22:20] #106 closed

[2020-02-07 22:26] cristianbote commented on #102
Based on #106 and #109 now each `glob` call it's tokenized and appended if it's fresh. So, that means the sequential call to `glob` now works. Fixed in `goober@1.7.0` 🎉

Checkout this sandbox https://codesandbox.io/s/billowing-bush-zf3w5

[2020-02-07 22:26] #102 closed

[2020-02-07 22:32] raulgg commented on #106
That was fast! Thank you!

[2020-02-13 07:32] cristianbote opened #112 "Publish a github page entry as a landing page"
Looking over `js.org` we could get a `goober.js.org` entry if we publish a github page with a landing page for goober. That'll be awesome.

[2020-02-13 13:18] nygdjs commented on #112
Will be awesome, definitely! (I think this is not even a question :D)
If needed, happy to help putting the page together 🙋‍♂️

[2020-02-13 15:16] cristianbote commented on #112
Wow! Thank you! That'll be awesome! Feel free to start on it 😃 I'm open to _anything_

[2020-02-19 07:09] cristianbote commented on #73
Alrighty, `slack` it is :)

[2020-02-19 07:09] #73 closed

[2020-02-19 10:13] JoviDeCroock commented on #9
This should be implemented now for v2, I'll add some integration tests this weekend.

[2020-02-24 17:25] nygdjs commented on #112
Sorry for the delayed answer...
Would be happy to help on this!
I have a few questions tho:
- Do goober has any kind of design, or and idea, anything you already thought about? A logo/logo idea maybe?
- I was thinking about either a Gatsby site or a very simple vanilla HTML/CSS static thing. Do you have any preference regarding this?
- Should it be just a "teaser" like landing page or something mo

[2020-02-28 08:18] greenkeeper[bot] opened #118 "An in-range update of react is breaking the build 🚨"
## There have been updates to the *react* monorepo:

 + - The `devDependency` [react](https://github.com/facebook/react) was updated from `16.12.0` to `16.13.0`.
- The `devDependency` [react-dom](https://github.com/facebook/react) was updated from `16.12.0` to `16.13.0`.

🚨 [View failing branch](https://github.com/cristianbote/goober/compare/master...cristianbote:greenkeeper%2Fmonorepo.react-20200

[2020-02-28 13:42] greenkeeper[bot] opened #119 "An in-range update of babel7 is breaking the build 🚨"
## There have been updates to the *babel7* monorepo:

 + - The `devDependency` [@babel/core](https://www.npmjs.com/package/@babel/core) was updated from `7.8.4` to `7.8.6`.
- The `devDependency` [@babel/plugin-transform-react-jsx](https://www.npmjs.com/package/@babel/plugin-transform-react-jsx) was updated from `7.8.0` to `7.8.3`.
- The `devDependency` [@babel/preset-env](https://www.npmjs.com/pac

[2020-02-28 22:46] greenkeeper[bot] opened #120 "An in-range update of emotion is breaking the build 🚨"
## There have been updates to the *emotion* monorepo:

 + - The `devDependency` [@emotion/core](https://www.npmjs.com/package/@emotion/core) was updated from `10.0.27` to `10.0.28`.
- The `devDependency` [@emotion/styled](https://www.npmjs.com/package/@emotion/styled) was updated from `10.0.23` to `10.0.27`.

🚨 [View failing branch](https://github.com/cristianbote/goober/compare/master...cristianb

[2020-03-01 18:01] greenkeeper[bot] opened #121 "An in-range update of preact is breaking the build 🚨"
## The devDependency [preact](https://github.com/preactjs/preact) was updated from `10.3.2` to `10.3.3`.

🚨 [View failing branch](https://github.com/cristianbote/goober/compare/master...cristianbote:greenkeeper%2Fpreact-10.3.3).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

preact is a devDependency of this project. It *

[2020-03-03 07:56] #118 closed

[2020-03-03 07:56] #119 closed

[2020-03-03 07:56] #120 closed

[2020-03-03 07:56] #121 closed

[2020-03-03 07:59] #9 closed

[2020-03-29 18:09] mjanssen opened #127 "Using Goober in component libraries"
Hey hey - Is there already an example how to utilise the speed and functionalities of Goober in component libraries? I know there are enough examples with Styled components and Emotion, but I have the feeling Goober is extremely good since the size of the library.

Whenever I try to build a component in a component library, I seem to be unable to get the styles in the application that imports the

[2020-03-29 18:31] mjanssen commented on #127
So basically, the component is rendered correctly, when JS is enabled. This is caused because Goober renders the component (from the component library) and injects the styles.

If I try to extract the css using extractCss, I get an empty string returned, so without JS, the styles are not available in the Front-end.

[2020-03-29 18:50] cristianbote commented on #127
Hey there! Thanks for opening this issue! 😄 So, just as with styled-components/emotion/etc you need to handle the whole style tag -- SSR part, within the `_app.js` and `_document.js` files. Let me put together a codesandbox to highlight the changes needed. Afterwards that codesandbox could be a great candidate for #30.

[2020-03-29 19:06] cristianbote commented on #127
Alrighty, here you go https://codesandbox.io/s/nextjs-with-goober-ktgkw. Let me know if this works for you. ✌️

[2020-03-29 20:18] mjanssen commented on #127
Thanks Cristian! This works in an instant :)

However; building an application using babel etc etc. where Goober is used as an CSS in JS layer, I am unable to use these components in another project.

I have created this temp branch to view what I'm actually talking about: https://github.com/domparty/component-library/blob/tmp/src/components/Image/Image.tsx

It's building (npm run build) into ./li

[2020-03-30 06:31] cristianbote commented on #127
Oh, ok. Now I see what's going on 😃 So, the `setPragma` call is missing, meaning `goober` has no idea which jsx function -- pragma, to call. That means, you would need a way to tell the inner compiled goober instance to use `React.createElement`/`h`.

Another question how would you import the `Image` above? Based on it's path inside `lib`? I'm guessing, but you might need something at the top leve

[2020-03-30 08:11] mjanssen commented on #127
Wew, I feel like such a noobie right now 😅

I tried calling setPragma from the main app, which obviously doesn't work... I believe the use of Context is also a great method to pass theming to components, so appreciated of thinking about this as well 😄.

[2020-03-30 08:11] #127 closed

[2020-03-30 08:17] cristianbote commented on #127
Oh please don't feel like one! We're all in this together 😃 Can't count the number of _hours_ I've spent for example debugging why something doesn't work just to realise it wasn't called at all 🙈

Yup, also for `goober@2` 😄 the context will be essential for passing down themes or other stuff.

[2020-04-22 03:03] mpkelly opened #134 "Goober needs exactly one space after the selector or parsing fails."
Hi,

I've just migrated one of my open-source projects to Goober from Styled Components and found what I think is a bug. It seems Goober expects exactly one space after the CSS selector and parsing fails if you use zero or more than one.

[code]
I have created this [sandbox](https://codesandbox.io/s/confident-chandrasekhar-sm4rt?file=/src/index.tsx) with an example.

I would also say that error me

[2020-04-22 08:45] mpkelly commented on #134
Hi again,

I've found a more serious issue where duplicate classes are not merged.

[code]

I also discovered that multi-part selectors must be separated by a single space to work properly.

[code]

[2020-04-22 14:27] cristianbote commented on #134
Hey @mpkelly! Thank you for taking the time to create the codesandbox open this issue. Really appreciate it!

Yikes, indeed! This is kinda odd. I don't know why but I think this was working fine a while ago. So I must've broken it somehow. Also the duplicates, makes sense that they got overwritten, since basically those selectors are parsed as object keys.

I'm gonna add tests so we can make sure

[2020-04-22 15:27] mpkelly commented on #134
Hi @cristianbote, I've switched back to Styled Components for now but still keen to use Goober when the issue is resolved. I might have time to submit a pull request in the coming days myself actually. Will keep you posted.

[2020-04-25 20:51] cristianbote commented on #134
hey @mpkelly this is just to let you know that I tracked down the issue with the spacing -- really strange one, and also added the merging of rules. Here's your codesandbox updated with `1.8.0` https://codesandbox.io/s/heuristic-lalande-r72b2?file=/src/index.tsx.

Let me know if you find something else that it's not properly handled, when you can.

Much appreciate the issue! 👌

[2020-04-26 02:04] mpkelly commented on #134
Hi @cristianbote, that's great. Thanks for a fast turnaround.

[2020-04-26 02:04] #134 closed

[2020-04-27 02:40] ryansolid opened #136 "Support JSON/Objects in Escaped Template Parts"
The scenario I'm talking about is:

[code]
As far as I can tell this just gets serialized to `[Object object]`. This was brought to my attention due to someone trying to use Styled System(https://github.com/styled-system/styled-system) with Goober which works this way apparently. It lets developers replace common transformations with premade functions. Cool in concept at least.

[2020-05-02 12:38] high1 opened #138 "TypeScript definitions inside 1.8.0 package on npm are not up-to-date"
I've seen that the TS definitions were improved, and updated goober to 1.8.0, but goober.d.ts file here
still contains old definitions:
[code]
So, the commit where children were made optional and new TS definitions are not inside the package. I also downloaded the package directly with npm pack goober and extracted it, to check if this is correct. Also, setPragma is still exported from index.js...

[2020-05-03 06:42] cristianbote commented on #138
Hey @high1, thanks for letting me know. I'll look into it.

Keep you posted.

[2020-05-04 19:27] kennetpostigo opened #139 "Is react-native supported?"
Hi 👋
Wanted to know if react-native was supported?

[2020-05-04 20:42] cristianbote commented on #139
Hey @kennetpostigo, thanks for opening this issue! 😃 Uh, I really don't think goober will work with React Native anytime soon. I haven't looked into it, but I've never thought for goober to work in React Native.

But, now that I'm thinking about it, goober does transform all the css into an object, that will get serialised into _real_ css. So, basically if instead of updating a `<style />` tag goo

[2020-05-07 12:45] mjanssen opened #142 "Type error: Cannot read property data of null"
Getting an error thrown by both Preact & React with the following message:

`Uncaught TypeError: Cannot read property 'data' of null`

I have tried to debug this issue, but it seems like there's something going on deeper in Goober. I believe the issue is caused here, in this minified file:

<img width="649" alt="Screenshot 2020-05-07 at 14 41 30" src="https://user-images.githubusercontent.com/1145

[2020-05-07 12:49] mjanssen commented on #142
Additional info:

The component I'm rendering is using the `css` method coming from Goober and it's loaded from an external library.

[2020-05-07 13:45] lucat1 commented on #142
If you are aware of the specific `css` call that is throwing this error, providing it would help.
That said, the error should come from [here](https://github.com/cristianbote/goober/blob/master/src/core/update.js#L20). That function then gets called by `hash` which itself is called from `css`. So yeah, the issue should come from a `css` call.

What I believe could be the issue is `getSheet` return

[2020-05-07 15:07] mjanssen commented on #142
Hmm, thought I found a fix, but nope :(

I created a repo with the same setup. I'm using an external component, but also included it in the project itself (Grid.js).

Steps to reproduce

1. `npm i`
2. `npm run dev`
3. Go to `localhost:3000` (You should now see an empty page with something that looks like a table)
4. Click the about link
5. Refresh
6. Click on the home link

Switching back and fort

[2020-05-07 16:09] mjanssen commented on #142
Just running

[code]
In a useEffect() defined in `about.js` gives the same error. Might be a problem with how Goober is initialised in Next at this moment 🤔.

[2020-05-07 16:32] lucat1 commented on #142
Thank you so very much for your reproduction guide. I've tried it and indeed it errors. I've nailed it down to the fact that the About page does not contain any calls to goober. In fact if I add any goober code at all on that page it doesn't error anymore. I'll dig deeper and see why this happens!

[2020-05-07 16:41] mjanssen commented on #142
As far as I see, the problem lies in the fact that the <style> tag is empty upon first render.
When I change
`const css = extractCss();`
to
` const css = `${extractCss()}.something{color:red;}`;`

Everything seems to be functional again.

[2020-05-07 16:47] lucat1 commented on #142
Ahh yes you got it right. The style element exists but its `firstChild` is null. [That's why](https://github.com/cristianbote/goober/blob/master/src/core/get-sheet.js#L22) it errors.

[2020-05-07 16:48] cristianbote commented on #142
Heyo! @mjanssen thanks for opening this issue.

TL;DR;
goober expects a textNode to exist inside the style tag. Meaning in here https://github.com/mjanssen/nextjs-goober/blob/master/pages/_document.js#L21 you should do `html: ' ' + this.props.css`.

The `textNode` exists so goober can avoid the reflow/repaint from updating the contents, via a `textNode.data` property update. This one is a really o

[2020-05-07 17:25] mjanssen commented on #142
Ahhh that makes a lot of sense! Thanks for the explanation @cristianbote!
Thanks for checking with me @lucat1! I think we can close this 'issue' now ;)

[2020-05-07 17:25] #142 closed

[2020-05-09 17:07] trivago-vgarcia opened #144 "Atomic Classes"
Would you be interested in allowing to generate atomic classes instead of classes per element?

I'm doing some research to mix the idea of CSS-in-JS with atomic classed, and I think goober is a cool library to add it.

[2020-05-10 08:01] cristianbote commented on #144
Hey @trivago-vgarcia! Thanks for opening this issue!

That's a neat idea. Been thinking about it, initially, and I can't remember why I did not went with it.

goober has all the pieces for it to output the atomic classes, because how I see it, we would need to instead of hashing the entire css object, we would go rule by rule/key by key. One thing that might give use some headaches is the @ rules.

[2020-05-10 08:39] gc-victor commented on #144
You are right, is prepared to do it. I have started playing with pseudo-classes.

[code]

generates these classes

[code]

and returns

`go1668684562 go1143643863 go2834953651`

[2020-05-10 12:02] lucat1 commented on #144
Atomic classes would be godsent for may applications where styles are duplicated many many times. To make the change beneficial class names would have to be much shorter though. Something like alphabetical ordering would be optimal, but I don't know how hydration on the client side would work then.

[2020-05-10 14:15] gc-victor commented on #144
Hey @lucat1!

The length of the classes names is a typical discussion about atomic or utility classes. The increment of the size of the files isn't going to have a significant impact on your application.

Maybe it would be needed to have more explicit names to be easier to read.

I tend to use something like this: `u-display--block` or `u-color--black`.

[2020-05-15 12:07] ijustwanttobecool opened #145 "Generate !important to properties"
Hi!

Thanks for great tool!

Do you plan option to add !important to every properties. This can be useful in non-save environments, e.g. widget.

[2020-05-15 21:09] #56 closed

[2020-06-01 17:21] harshzalavadiya opened #149 "Unexpected token 'export' on Codesandbox react example"
### Issue

![image](https://user-images.githubusercontent.com/5774849/83435716-564b2a80-a45a-11ea-9b54-3fbe7ec70a1f.png)

Below Codesandbox is the fork https://github.com/cristianbote/goober#examples react CSB, given in README after updating goober to latest CSB throws error but works fine locally.

This error seems like fairly new since my package https://www.npmjs.com/package/react-multi-select-

[2020-06-01 22:48] ben-rogerson commented on #149
I'm seeing this issue too - it was working a couple of days before - https://codesandbox.io/s/react-tailwind-styled-components-starter-f87y7?file=/src/App.js

[2020-06-02 07:17] cristianbote commented on #149
Hey folks! Thanks for opening this issue!

This is the strangest one yet 🤕 I'm gonna snoop around and see what's the issue. `goober` has not been released recently so it might be an environment issue lurking somewhere. I'll report back.

[2020-06-02 07:30] cristianbote commented on #145
Hey @ijustwanttobecool! Thanks for opening this issue!

I think this should reside on the user facing code. Using `!important` is gonna be messing with the way css works and one would expect to get it to work properly.

Now, for widgets and such, I can see it working fine alongside other css definitions, by targeting that specific widget selector. Do you have some example where this was an issue?

[2020-06-02 10:06] cristianbote commented on #149
Alrighty apparently this is something on codesandbox's side https://github.com/codesandbox/codesandbox-client/issues/4277#issuecomment-637405110

[2020-06-02 12:50] harshzalavadiya commented on #149
Thanks @cristianbote,

Closing since not an issue from goober side

[2020-06-02 12:50] #149 closed

[2020-07-05 18:24] isakkeyten opened #151 "'goober-autoprefixer@latest' is not in the npm registry."
So I was about to use the autoprefixer so i don't do extra steps with postcss and...

[code]

I checked npmjs.com and it turns out it really isn't out there.

[2020-07-05 18:29] isakkeyten commented on #151
Additionally, I'm doing SSR and I'm not using `setup` and everything seems to be working fine? What am I missing? Autoprefixer is beeing injected via setup but setup requires a renderer and I'm just using vanilla template literals, so no renderer at all. How would I go about using the prefixer?

[2020-07-06 06:49] cristianbote commented on #151
Hey @isakkeyten! Thanks for opening this issue!

Gah! Indeed, the sub packages are not published with latest. Let me do that right now. That was an oversight on my side.

To answer your second question, if you're using the `setup` in your `app` code, and that app is included on the server I think that'll work as well. Can you share a reproducible codesanbox?

I'll be back when I published the sub-

[2020-07-06 07:12] #151 closed

[2020-07-06 07:13] cristianbote commented on #151
Alrighty, `goober-autoprefixer` is published now.

Let me know if you are running into other issues as well.

[2020-07-06 09:08] cristianbote commented on #22
This is now part of `@2.x.x`. I'm gonna close it. If there are more questions feel free to post them.

[2020-07-06 09:08] #22 closed

[2020-07-06 09:09] cristianbote commented on #59
Haven't heard from the opener in a while. I'm gonna close this. If there are more questions feel free to post them in here.

[2020-07-06 09:09] #59 closed

[2020-07-06 09:10] cristianbote commented on #61
This is now part of `@2.x.x` release. If there are more questions feel free to post them in here. I'm gonna close this now.

[2020-07-06 09:10] #61 closed

[2020-07-06 09:12] cristianbote commented on #138
Hey @high1! I think this got fixed now?

[2020-07-06 09:13] cristianbote commented on #139
If there is someone who wants to pick-up the work for RN feel free to reach out. I'll close this for now.

[2020-07-06 09:13] #145 closed

[2020-07-06 09:14] cristianbote commented on #145
I haven't heard from the author in a while. Closing.

[2020-07-06 09:37] high1 commented on #138
Hey. I'll look into this later today, and get back to you. I should check out the next branch on npm, right?

[2020-07-06 12:50] #138 closed

[2020-07-09 18:52] ubergesundheit opened #156 "Typescript not up to date?"
I tried goober 2.0.1 and noticed that the signature of the `setup` function is not the same in the types. The types are missing the `theme` argument.

Are there any plans to update the types?

[2020-07-09 22:18] cristianbote commented on #156
Hey @ubergesundheit, thanks for opening this issue.

Indeed 😞  that's a bug. Gonna whip out a fix in a second.

[2020-07-09 22:26] #156 closed

[2020-07-09 22:28] cristianbote commented on #156
Fixed in `2.0.2`. Let me know if you are running into more issues. Thank you so much for opening this one!

[2020-07-10 06:12] jackyef opened #158 "Possibly unexpected behavior of extractCss() on SSR"
Hi, very nice library you have here! I am currently exploring it more and hoping to be able to use it as my go-to css-in-js solution in the future. Currently, I am finding issues with how the SSR works.

Goober seems to be using a single JS object during SSR to store all the generated styles. The store would be flushed when `extractCss()` is called. https://github.com/cristianbote/goober/blob/mast

[2020-07-10 06:48] ubergesundheit commented on #156
Oh wow, that was fast <3 Thank you very much!

Now when trying to use the theme in a styled component like this:

[code]

Typescript complains `Property 'theme' does not exist on type 'DetailedHTMLProps<HTMLAttributes<HTMLDivElement>, HTMLDivElement>'`

[2020-07-10 09:34] cristianbote commented on #158
Hey @jackyef, really glad that you've decided to open-up this issue!

Top of my mind, `css` api has the [targets](https://github.com/cristianbote/goober#targets) functionality that usually is used with web components or widgets and such. Do you think this could possibly solve the async nature for the SSR? 🤔

[2020-07-10 10:41] jackyef commented on #158
Thanks for the reply @cristianbote !

I looked into `target` and _kinda_ got it to work in user land. I don't really like the way it works though, because it includes:
1. Create a new `ctx` to be used for every request. With react/preact, we can pass this into `Context`
1. Requiring JSDOM on the server to create an element for every request. Assign this as `ctx.target`
2. Manually binding `css` an

[2020-07-15 08:46] cusxio opened #161 "gatsby and goober"
## Current Behaviour

`glob` styles are not applied to sub pages in `gatsby`, i.e. pages other than `/`.

#### Reproduction

https://github.com/cusxio/goober-test

1. Run `yarn build`
2. See output in public folder. Global styles are only applied to `/`, and not `/two`.

## Side note

A missing semi-colon in `glob` will also cause the styles to not be rendered.

#### Reproduction

https://github.c

[2020-07-16 06:04] cristianbote commented on #161
Hey @cusxio thank you so much for opening this issue.

Indeed, this is awkward -- and I should address this inside README. What's happening here is that `glob` is actually a `css` call with the global flag `{ g: 1 }` that returns an empty string. There are a couple things that you could do and depends on what you prefer:

1. Move the `glob` call inside `wrapPageElement`.

Basically instead of call

[2020-07-16 07:26] cristianbote commented on #158
Alrighty @jackyef 😄  this really really bother me for a few days and today I had a few moments to open up a PR with another possible solution without `jsdom`.

So here's the breakdown:
1. Create a way to define per context a style collector(https://github.com/jackyef/preact-goober-snowpack/pull/2/files#diff-30e9a907d41138a995360f5257776461R28-R31)
1. If that context is defined `css` and `glob` wil

[2020-07-16 07:27] cristianbote opened #162 "(bug) getSheet should return the given target or ssr"
`getSheet` should return the given `target` or `ssr` reference.

[2020-07-16 11:41] cusxio commented on #161
Thank you for the prompt reply! Appreciate it. 🙏🏻

I think Option 1 works.

Option 2 will inflict a TypeScript error as [void](https://github.com/cristianbote/goober/blob/1cf548838e3f6e4919a547875d45fa1f61c241c5/goober.d.ts#L31) is not a valid JSX element.

So you would need something like

[code]

which is essentially Option 1.

---

Technically, omitting the semicolon for the last line of the CS

[2020-07-16 11:48] jackyef commented on #158
Hey @cristianbote, really appreciate it!
I have replied to the PR you created there asking specifically about the implementation (which I can't seem to get to work).

Anyway, I think I understand the gist of it. Your implementation made it so we no longer need jsdom, but some manually setup still need to be done on the user-land (setting up custom `css` and `glob` function, binding to the right co

[2020-07-16 13:18] cristianbote commented on #161
Awesome! Glad that works for you.

Umm, woot? 😞  that's news to me. Is it the type definition at wrong here? 🤔

[2020-07-16 13:20] cristianbote commented on #158
Yeah, so for it to be working #162 needs to be fixed. Which is a really easy one -- I just need time 😞

[2020-07-16 13:22] cristianbote commented on #158
That is a great point! Now, since goober will move to a major version officially I wonder if it'll be a good timing to have the `extractCss` function changed into a `collector` and `context` thing.

[2020-07-16 13:27] cristianbote commented on #30
https://github.com/vercel/next.js/pull/15070

[2020-07-16 13:27] #30 closed

[2020-07-16 13:39] cusxio commented on #161
Not sure if we are on the same page, but here's an example.

[Example](
https://prettier.io/playground/#N4Igxg9gdgLgprEAuEB6VACAhgVxhAWgDMIAnAWyxgGcAabAEweo2rnIEtIAbaAHShhq1AAYCARljABrAOakIOKAwzABPMkgyk4DAQF8BIgNwCB6DAwhwWUCDAAWHKLIGze4sVEkz5i5arqELykWjp6UIZQJmZQILQgEAAOMBzQ1MigWKQKAO4ACtkIGShYAG4QHAzxIOKkUtJwMADKSVLOssgwpDhwCQ4w5NwA6k7w1G1gcM3FHKllcwCeyODCNc5spDD59bKUyERY3GwJAFbUAB4AQvUyTc1Y5HAAM

[2020-07-17 12:39] jackyef commented on #158
Ah I see, I misunderstood that part.

I definitely think it's something that would be good to have in 2.0.0. I would be happy to help contributing if you think it's something I could help with.

[2020-07-26 08:45] #161 closed

[2020-07-26 10:43] cusxio opened #171 "publish latest `gatsby-plugin-goober`"
## Current Behaviour

Currently, the latest version of `goober` on `npm` is v2.

`gatsby-plugin-goober` however, is still using v1. This causes an error, i.e. `setPragma is not a function`

i.e. `gatsby-plugin-goober` `2.1.0` should be the `latest` version to match `goober`.

https://www.npmjs.com/package/gatsby-plugin-goober

[2020-07-27 07:24] cristianbote commented on #171
Hey @cusxio you are right 😞 . On it!

[2020-07-27 07:26] cristianbote commented on #171
Should be fixed now. Let me know if you run into more issues.

[2020-07-27 11:34] cusxio commented on #171
All good! 👍

[2020-07-27 11:34] #171 closed

[2020-07-28 06:41] #139 closed

[2020-07-28 06:56] cristianbote commented on #97
I did played around with this one and I have not seen any perf gains from it. 😞  I'll try to give it a go once more but if the gains are not there I think I will drop it for now.

[2020-07-29 08:13] mohamedfasil opened #173 "background image with base64 image url not working"
Hi, background image with base64 data image is not working a expected
It can be easily reproduced by
[code]

[2020-07-29 10:23] cristianbote commented on #173
Hey @mohamedfasil thank you for opening this issue!

Indeed, using tagged template syntax leads to a weird effect, where the `;` at the beginning of `base64` trips up the regex rule and the value is cut in two basically. Couldn't find an easy fix for that rule.

May I suggest using the object syntax instead? That works without any of these issues:
[code]

[2020-07-31 16:38] #162 closed

[2020-07-31 16:47] cristianbote commented on #158
Alrighty, merged in #162. I think we can collectively move on with your idea/proposal 😃 . Also, I think to not weight in the size on the _client_ we could have a separate entry point for this one.

Like:

[code]

Just an idea but it's wide open of course 😄

[2020-08-03 13:34] kocsis1david opened #175 "Props are not typed with Preact"
TypeScript cannot find `JSX` when goober is used with preact:

![image](https://user-images.githubusercontent.com/722066/89188539-19f19300-d59f-11ea-9aab-189eb60f3464.png)

The code still compiles and works, but if you hover over `props.primary` in VSCode, it will show that the type is `any`.

[code]

[2020-08-03 14:07] kocsis1david commented on #175
Placing `import JSX = preact.JSX;` into a `.d.ts` file seems to fix the problem, but it would be nice if it were working fine after install.

[2020-08-08 07:02] jackyef commented on #158
I like the proposed API 👍 . It should be simple enough for users to use. I assume the idea is to have `collect()` automatically do these 2 things right?
1. Do all `css` and `glob` calls
2. Provide a separate context to inject the style sheet into

The only problem right now I think is about how do we automatically do all the `css` and `glob` calls?

[2020-08-15 02:35] matthewlucock opened #176 "styled forwardRef argument works, but there are no types for it"
Hi @cristianbote! Thanks for this project! This is probably just a simple oversight, but I've noticed that despite `styled` taking a second argument `forwardRef`, and it being documented as such, there are no types for that argument; [every version of the function](https://github.com/cristianbote/goober/blob/a630943ca6ccbb422607ee9dc0c28bec14be9429/goober.d.ts#L8) is typed as only taking a single

[2020-09-24 16:44] dvoytenko opened #178 "Keyframes support"
Are there any good examples of `@keyframes`? I tried a couple of options, but presently cannot figure out how to obfuscate the keyframes name.

I tried this:

[code]

And another nit is that `const keyframes` in my example doesn't appear to be used by reference anywhere and can be removed by DCE.

Is there a better way to do this?

[2020-09-24 16:46] dvoytenko opened #179 "JSON form: numeric to px conversion"
It could be good to have the JSON format more consistent with (P)react's `style` prop.

[2020-09-24 17:02] samouri opened #180 "Classname Customization"
First off, thank you @cristianbote  for creating Goober! It is really an inspiration.

Is it possible to supply a custom id generator? Similar to the [createGenerateId](https://cssinjs.org/jss-api?v=v10.4.0#setup-jss-instance) option in jss? If not, would you be open to a contribution here? It looks like it could be solved via a change to the `setup` function and piping through the id generator as

[2020-09-25 05:26] cristianbote commented on #180
Hey @samouri! Thank you so much for your kind words!

That's actually a great idea! 😄  there are is though at least two other places, top of mind, where you would need to adjust the _detection_ for appending/prepending to the stylesheet:
* inside `styled` (https://github.com/cristianbote/goober/blob/master/src/styled.js#L37)
* and inside compile https://github.com/cristianbote/goober/blob/master/s

[2020-09-25 05:59] cristianbote commented on #178
Hey @dvoytenko thank you so much opening this issue.

That is something that `goober` doesn't do. We take the input, if it's a string we convert it to an object, and basically construct the css definitions, and hash-ing the classnames along the way to match each definition. So far I did not need to obfuscate/hash the animation name 🤔  do you see yourself needing that? I would love to learn about t

[2020-09-25 06:01] cristianbote commented on #176
Hey @matthewlucock, thank you so much for your kind words and for opening this issue. Much appreciate it!

Indeed 😬  it's something I overlooked. Would you like to open up a PR for it? If not I believe I can do it later on. Feel free to ping me on slack if you need more info.

Have a great one and thank you!

[2020-09-25 06:05] cristianbote commented on #175
Hey @kocsis1david, thanks for opening this issue, much appreciate it!

Yeah 😬  this feels like something that it's out of my understandings -- really noob when it comes of TypeScript. All of the typings are community contributions so I have to ask the community to help out on this one. Or if you feel that you know how to do it, feel free to open up a PR. More than welcome!

[2020-09-25 06:12] dvoytenko commented on #178
The Emotion's keyframes approach comes to mind here. It's very similar to `css''`, except it looks like this:

[code]

I think adding something like this on top of the `css''` you already have should be fairly straightforward. There are a few benefits vis-a-vis to the existing approaches that you list:

1. An `export const rotate = keyframes...` like this can be imported and used for many declarat

[2020-09-25 06:29] cristianbote commented on #179
Indeed. That would be awesome to have, but I am worried about the added size. Wondering if it could be part of the `goober-autoprefixer` package instead 🤔  that way you'll get the conversion only if you used the autoprefixer.

[2020-09-25 06:32] cristianbote commented on #178
Oh, I would love that! 👍  Great points about the reusability aspect. The syntax `animation: ${name} 1s;` actually makes 100% sense. I'm gonna start working on it asap 😄  looks really dope! Thank you!

[2020-09-25 06:37] #97 closed

[2020-09-25 06:37] cristianbote commented on #49
Fixed

[2020-09-25 06:37] #49 closed

[2020-09-25 16:38] dvoytenko commented on #179
I think in Preact this is done with a rather [small footprint](https://github.com/preactjs/preact/blob/0c14a92a98e8ed8427aa4a9dc9db09045fc5b27a/src/diff/props.js#L36). However, even a separate plugin could make sense. However, if this was a core feature, it'd be safer with a component distribution since it won't rely on extra setup.

Overall, I'd say, this is a smaller priority. It's convenient fo

[2020-09-29 20:45] cristianbote commented on #178
Added in `goober@2.0.6`

[2020-09-29 20:45] #178 closed

[2020-09-29 21:12] cristianbote commented on #179
Uh oh `+82B` added if I include the `IS_NON_DIMENSIONAL` rule from `preact`. Kind of a lot.

[2020-09-30 16:26] dvoytenko commented on #179
In most of cases we just resolve stylesheets statically during compilation. But I think if the added size is a concern for you, I'd call it a lower priority.

[2020-10-01 05:51] cristianbote commented on #180
While I was looking at emotion's `keyframes` api I noticed this one as well https://emotion.sh/docs/labels. Would something like that be useful in your use case? I think using the `label` could turn out the smallest approach in terms of footprint. What do you think?

[2020-10-02 15:11] Remeic commented on #127
Hi @cristianbote, i'be created a little codesandbox usign nextjs with preact and goober, but there is an error:
`TypeError: i is not a function
    at Object.s (/Users/giulio/Documents/Personale/Preact/justgiulio_preact/node_modules/goober/dist/goober.js:1:2031)
    at g (/Users/giulio/Documents/Personale/Preact/justgiulio_preact/node_modules/preact-render-to-string/dist/index.js:1:2247)`
https://

[2020-10-02 19:08] Remeic commented on #127
Thanks for quick reply @cristianbote!
Before submitting the codesandbox i've tried to set `setup(h)` in _app.js but it doesn't worked
I've tried some minutes ago to fork your codesandbox, but `SmallTitle` component seems doesn't affected by styled.
For example font-size: 13em, i've missed something else?

[2020-10-05 06:38] cristianbote commented on #127
Ah, I just realised that you are using a `next.js` environment 🤦  so sorry. So inside `_app.js` is the place to call the `setup` method. And you are already doing it properly 👍 . So I went back to my sandbox, which is a fork of yours, and I notice that style definition had the color `"red"` in quotes inside the tagged template. That's invalid CSS I believe so I corrected that, restarted the sandbo

[2020-10-06 20:57] praneybehl commented on #136
Just curious, if this feature is planned?

[2020-10-06 21:26] cristianbote commented on #136
Hey @praneybehl, thanks for your comment! I still haven't had a chance to look more deeply into it. If anyone wants to look into it, feel free! I would much appreciate it!

[2020-10-06 22:09] cristianbote commented on #136
Actually @praneybehl took a quick look at the issue, and I think we could make `styled-system` work with goober as is. Check out this example https://codesandbox.io/s/goober-with-styled-system-mp0ex

Basically, instead of having to use tagged templates, we could use the object syntax and spread the results from the styled system functions. Pasting here the above example:
[code]

Would love to lear

[2020-10-07 01:52] praneybehl commented on #136
Thanks @cristianbote, I guess it can be used as a workaround.
Maybe, I'll have a look to see what is needed to get it working with tagged templates.

Cheers 👍🏼

[2020-10-11 06:49] russelgal opened #182 "nested comma separated selectors bug?"
[code]
produced
`.go1684683309{color:red;}.go1684683309 p,b,i{display:block;}`

https://codesandbox.io/s/solid-styled-components-forked-jg3b5?file=/index.js:111-184

#49

[2020-10-11 06:59] cristianbote commented on #182
Hey @russelgal, thanks for opening this issue. Indeed 🤔 something is not working right. We had this issue before and I have a feeling we fixed it. Let me search for it. I'll get back with it.

[2020-10-11 07:06] cristianbote commented on #182
Alrighty here it is https://github.com/cristianbote/goober/pull/172/files#diff-9c7fd86f60e4a5921e586a27bafc1bf3R19

That should take care of the nested selector, but something is not working as it should. Looking into it.

[2020-10-12 06:18] cristianbote commented on #182
Alrighty, look over this particular issue and it boils down to how `parse` is balancing the `selector` and the current `key`. I'm looking for a correct fix to handle both of these.

[2020-10-12 07:56] Remeic commented on #127
Hi Cristian sorry for delay, in first try my local project had the same error, i restart from scratch and now all work!
You think that can be useful add codesandbox link in the README ? Maybe for user that want to try out Next + Preact + Goober (  = ❤️ )

[2020-10-12 20:09] #182 closed

[2020-10-12 20:14] cristianbote commented on #182
The fix is published in `goober@2.0.7`. Let me know if you run into more issues! This was an excellent issue! 👌 Thank you!

[2020-10-12 20:27] russelgal commented on #182
thanks for the super fast fix! 👍 and ... for the kind words 😉
keep up the good work!

[2020-10-13 18:50] jakehamilton opened #185 "Handling specificity when using the css function."
Hi there! 👋

I've been using the `css` function to handle styles but ran into an issue of specificity when trying to combine them. [Here's an example sandbox](https://codesandbox.io/s/competent-star-62syf?file=/src/App.js).

The issue here seems to be that goober doesn't provide a mechanism to combine class names while overriding them in the correct order. Emotion supports this through their own h

[2020-10-13 20:58] cristianbote commented on #185
Hey @jakehamilton!

Thank you so much for your kind words! Much appreciate it!

This looks really curios 😄 . The issue you've linked was indeed touching something else and more based on how to makeshift a custom `styled` method.

🤔  Thinking about it, `css` calls are generating at call site the className and in turn the appending/prepending. So, let's call it `clx`, would have to somehow get the p

[2020-10-13 21:19] jakehamilton commented on #185
Hey @cristianbote, thanks for the reply!

I'm sure you'll have a better understanding of how to go about solving this problem that I will, but I figured I'd give my thoughts here.

I wonder if it's possible for us to create a completely new class and inject the styles used from previous ones. This strategy would probably be more intensive since we'll either need to read and parse existing styles o

[2020-10-13 21:35] jakehamilton commented on #185
Oh, I may be wrong about having the styles in memory after reading more of the source: https://github.com/cristianbote/goober/blob/master/src/core/hash.js#L42

[2020-10-20 02:55] donysukardi opened #186 "Compatibility with styled-system"
I was trying out goober with `styled-system` and found out that it's not working. Is compatibility with `styled-system` something `goober` will be looking to adopt?

https://codesandbox.io/s/goober-x-styled-system-not-working-4lywf?file=/src/index.js

[2020-10-20 02:57] donysukardi commented on #186
I found out that it's been discussed here - https://github.com/cristianbote/goober/issues/136. Any plan to make it work without work around?

[2020-10-20 06:09] cristianbote commented on #186
Hey @donysukardi!

You mean, to not have to write the styles as objects? So the tagged templates would interpolate the data?

Pasting here the example from your codesandbox:
[code]

I'll look into it. I have some more size space to work with and maybe I can find a way to squeeze this one as well. Keep you posted.

[2020-10-20 06:15] cristianbote opened #187 "(docs) Add a tradeoff section inside README for a better clarity"

[2020-10-20 06:39] cristianbote commented on #186
Alrighty. I think it turned out decent enough for `+5B`. 👍

[2020-10-20 08:43] #186 closed

[2020-10-20 08:46] cristianbote commented on #186
Available in `2.0.9`

[2020-10-20 08:47] cristianbote commented on #186
here's your sandbox with the new version https://codesandbox.io/s/goober-x-styled-system-not-working-forked-q06gr?file=/src/index.js

[2020-10-20 08:49] donysukardi commented on #186
AWESOME POSSUM @cristianbote! 🎉🎉🎉

[2020-10-20 08:50] cristianbote commented on #136
Alrighty! Due to popular demand and low footprint in size, this is working for tagged templates as well. Available in `2.0.9`. Thanks for reaching out and pursue this! Much appreciate it!

[2020-10-20 08:50] #136 closed

[2020-10-22 19:43] cristianbote opened #191 "(chore) Improve the `styled` docs section"
Recently @devrnt opened up a PR to improve the setup with a theme(#189) and I realised that it'll be awesome to have that section expanded for each case.

[2020-10-22 19:50] cristianbote commented on #144
Looking back at this, I think goober will for sure not follow the atomic styles approach. The architecture is different and I think for example, otion(https://github.com/kripod/otion) by @kripod has done a fantastic job with it.

Closing this. Thanks @gc-victor for taking the time to explore this, much appreciate it!

[2020-10-22 19:50] #144 closed

[2020-10-24 12:15] gc-victor commented on #144
Thanks, Cristian.

For me, it was a starting point for exploring the idea of CSS-in-JS atomic classes. Some months ago, I developed. https://github.com/gc-victor/c-c. A tiny library of CSS-in-JS with atomic classes at run-time and compile-time.

[2020-10-26 06:57] cristianbote commented on #176
@devrnt do you think you could tackle this one as well? Please do not feel as something you have to, I only pinged you as you recently added those sweet types for the `DefaultTheme`

[2020-10-26 16:54] devrnt commented on #176
Seems an easy fix, is it okay to make this `forwardRef` of type `any`?

[2020-10-26 17:55] michalczaplinski commented on #176
Mind if I send a PR? :) I've already done a quick fix with this.

As we support not only react but also other view libraries, I don't think we can make the type more specific than this:

[code]

[2020-10-26 20:17] cristianbote commented on #176
@michalczaplinski thank you so much! @devrnt you're ok with going with @michalczaplinski's PR?

[2020-10-26 21:18] devrnt commented on #176
Ofcourse! @cristianbote

[2020-10-27 11:29] #176 closed

[2020-10-27 12:53] cristianbote commented on #176
published `goober@2.0.12` with the patch 👍

[2020-11-04 19:48] maxval1 opened #196 "head style embed [optimizations]"
Hi,
I have a situation and i don't know how resolve that's optimization see [demo](https://jmp.sh/BP9egbH) live [codesandbox](https://codesandbox.io/s/flamboyant-heisenberg-i5fh3?file=/src/App.tsx).
My question is it possible to generate one class an changed the properties for this class, or paste one class default with some properties and if have some new value added another class with that's cha

[2020-11-05 09:27] cristianbote commented on #196
Hey @maxval1, thank you so much for opening this issue. Really appreciate it.

Indeed, that's a tricky one. So what happens in here is that for each step the component gets re-rendered due to state changes. That means, each re-render, goober, is re-creating those classes. So, based on the linked codesandbox and your description, I assuming that you want to have a className? Is that it? If that's t

[2020-11-05 10:11] maxval1 commented on #196
Hi @cristianbote, so my problem is when I change some properties like size 12 -> 13 right now it is generating all properties in a new css class and appends it in head, so if I had 20 properties for example:
[code]
and I change only `font-size: 13px;` then it generates a new classes and appends this big css in head
[code]
maybe we need to change the font-size in old class to avoid generating a new

[2020-11-05 10:21] cristianbote commented on #196
Oh, now I get it! 😄

Yup, true, goober will generate that, so there's one thing that you could do to minimise the amount of work, and that is https://github.com/cristianbote/goober#extending. Bottom line, you can create a `Base` component that would hold the properties that are not gonna change and then, extend the `Button` with that `Base` and define the changing properties. I know it's a bit mor

[2020-11-05 10:55] maxval1 commented on #196
Partial works
Thanks!!

[2020-11-11 02:51] leader22 commented on #158
I've also run into this issue with Next.js using SSG. (minimal repro is [here](https://github.com/leader22/next-goober-extract_css-repro))

I will try https://github.com/jackyef/preact-goober-snowpack/pull/2/files#diff-68f63ff661b86df45182b35a7a34362dR1 later 👀

[2020-11-11 08:01] cristianbote commented on #158
Hey @leader22, thank you so much for weighing on this. I'm gonna try your repo as well to see if my above proposal could work 👍

[2020-11-11 08:46] leader22 commented on #158
That would be great! Thanks in advance. 😉

[2020-11-12 10:13] ben-rogerson opened #199 "Last class reused because of common sub styles"
While testing the recent changes to Goober I came across a strange bug.

The class of an element gets reused for another because they share a group of styles.
The common styles are shown here, named `stylesBase`:

[code]

Take a look at [the demo on codesandbox](https://codesandbox.io/s/goober-issue-example-jyed1?file=/src/index.js)

[2020-11-12 10:28] cristianbote commented on #199
Yikes! looking into it. Thank you!

[2020-11-12 10:52] cristianbote commented on #199
Ah, indeed. So the `Object.assign` from that reduce takes the first object and keeps the reference and does an mutation on it with the `backgroundColor`. Will open up a PR to fix it.

[2020-11-12 11:08] #199 closed

[2020-11-12 11:09] cristianbote commented on #199
Published in `2.0.15`. Thank you!

[2020-11-12 20:25] cristianbote commented on #158
@leader22 I've looked into it a bit this morning and this is a strange one, for sure. Locally I get the css generated in each file, but remotely it's not getting included. Still looking into it.

[2020-11-13 00:57] leader22 commented on #158
FYI: I also tried your fork, but css are not generated even in local.(MBP w/ 4cpus) 😿

[2020-11-13 07:08] cristianbote commented on #158
wow! Now that's even more awkward. Wondering why though? 🤔  I've tried it locally with npm/yarn/different node version. Oh wait, could it be next.js version? Just noticed it's latest. I'll explore this one.

[2020-11-13 08:48] cristianbote commented on #158
Ok. I think I figured it out. This is a much bigger issue than I anticipated -- still not sure why I don't have it locally though, but oh well.

So what happens is that the `css` call is defined at code runtime, meaning as soon the `Layout` component it's imported that `css` call is getting executed. Now, the quickest solution is to nest that call as part of the `jsx` tree as I did here https://gi

[2020-11-13 12:04] leader22 commented on #158
Oooh, I see! Thank you for investigating.
(And I realize this is a slightly different with original issue... Sorry to bother you. 😓 )

I've rewritten this style of codes

[code]

into this one.

[code]

And everything works fine. 🙌

Would you mind me sending PR for docs?

[2020-11-13 13:51] cristianbote commented on #158
Please do! Much appreciate it! Thank you!

[2020-11-24 19:23] devrnt opened #203 "React does not recognize the XX prop on a DOM element"
**Description**
React console error whenever passing props to a goober styled component:
`
React does not recognize the XX prop on a DOM element. If you intentionally want it to appear in the DOM as a custom attribute, spell it as lowercase XX instead. If you accidentally passed it from a parent component, remove it from the DOM element.
`

**When happening**
Passing through some props to a goober

[2020-11-25 14:13] cristianbote commented on #203
Gosh, I really do not want to have to use `$<name>` props naming 🤕  looking into it

[2020-11-25 18:21] devrnt commented on #203
Hmm, I currently see no other option than keeping a list of "default" props (don't know if this is desirable).

I made a fork to look at a solution with a `$` prefix and it seems to work. I'll keep this PR on idle until this ticket gets any update

[2020-12-05 08:36] ryansolid commented on #175
Yeah Preact behaves itself and doesn't invade the global namespace like some inconsiderate frameworks... cough.. I was working on trying to follow suit with Solid and was able to get everything but this to work. This is a hard problem though since goober can't know which JSX it's dealing with so it can't import. App developers can move Preact types to global but that is a shame. My TS is no better

[2020-12-05 22:19] timolins opened #204 "Types missing for `keyframes`"
Very neat library so far! Just noticed that types are missing for the `keyframes` function. If I come around to add those myself I'll make sure to create PR.

[2020-12-06 14:54] zhaoyao91 opened #206 "how to remove added style?"
say, if I create a class on the constructor of a component, how to revoke this class when destroying the component?

[2020-12-06 16:01] cristianbote commented on #206
Hey @zhaoyao91 thanks for opening this issue.

TL;DR; you can't.

The reason why you can't remove it from the stylesheet is the principle of how goober is handling writing to the stylesheet tag. Basically you can write to it, but can't remove it. That would be an extra operation needed.

But this begs the question of a use case. Why/when would you want to remove a class? If that class has been add

[2020-12-06 16:20] zhaoyao91 commented on #206
@cristianbote thanks for your reply. Nowadays micro frontend structure are popular. Under the situation, a page may have no knowledage of other page, and will only care about thing it owes. If some page left their styles, not only it wil blast the styles, but also the unintended styles may affect other pages.

[2020-12-07 07:34] cristianbote commented on #206
Ah, ok. I think I understand your concern now.

I would make the case that the unintended styles side-effects it's unlikely, since `goober` or any other css-in-js library hashes the classes uniquely depending on the css rules it contains. So the clashing of the same styling by design it's impossible. This goes the same for the `<style>` tag. Each library uses/defines it's own tag.

The only case w

[2020-12-07 07:34] #204 closed

[2020-12-07 07:56] zhaoyao91 commented on #206
No, I didn't meet the issue yet, just have some worry about the general infinite-grow pattern without any mechanism to do cleanup. We have a microfrontend app which allow the user to browse tons of pages without refresh. While sub apps would take responsibility to release resources, they are hard to free the style.

Another concern is about dynamic css. I found if I change some width from 0px to 1

[2020-12-07 07:59] cristianbote opened #207 "2.1.0"
For `2.1.0` I wanna make room for other improvements and new features. Making room for them will require some breaking changes.

## Breaking changes
- Move `glob` into its own package: `goober/global-styles`;
- With the above, export a function(`createGlobalStyles`) that will return a `<GlobalStyles />` component that needs to be part of the rendered tree. Not that convinced about this one.
- Move

[2020-12-07 08:09] cristianbote commented on #206
You are 100% correct. Having this code will generate 101 unique classes:

[code]

I can completely see your worry. What I usually do, when dealing with such dynamism inside the styles, I apply the highly dynamic rules inline. Usually those are coming from js powered animations.

On the bright side though, the dynamic classes will be generated only once 😄  and reuse afterwards.

[2020-12-08 11:10] devrnt commented on #207
Great, `createGlobalStyles` sound very nice to me!

 I would like to see a solution for #203 as well, I've got a PR ready but this introduces a prefix-prop-naming (transient props), but as you already said you really don't want this prefix. Maybe you have something to work around this issue?

[2020-12-08 14:24] #196 closed

[2020-12-08 14:25] cristianbote commented on #207
@devrnt how's the size impact on your PR? 🤔  Of there's negligible size impact, we should adopt it honestly.

[2020-12-08 14:28] cristianbote opened #209 "css prop functionality as part of babel-plugin and macro"
Examples:
- emotion https://emotion.sh/docs/css-prop
- styled-components https://styled-components.com/docs/api#css-prop

[2020-12-08 17:08] devrnt commented on #207
@cristianbote Size change is indeed negligible, just a few lines of additional code.

[2020-12-08 17:53] devrnt commented on #207
I've pushed a proposal https://github.com/cristianbote/goober/pull/210

[2020-12-17 10:00] winston0410 opened #213 "Is it possible to trim className?"
I would like to reduce the payload by minifying the className of the attached <style> from goober, is there any option for me to do that?

[2020-12-17 10:11] cristianbote commented on #213
Hey @winston0410, thanks for opening this issue.

I don't believe there's a way to do that within goober. May I ask what exactly you are trying to achieve? Is the length of the className to be shorter? The `toHash` function handles generating the class hash. At first it used a `.toString(36)` but that took byte space and removed it.

So, my main question to you is, what exactly you are looking for

[2020-12-17 10:24] winston0410 commented on #213
@cristianbote Thank you so much for your quick response. I think I have asked my question incorrectly. I want to trim the className for the elements instead of `<style>`, like this:

Before:
[code]
After:
[code]

The reason for doing this is to reduce the size of html and css stylesheet. I think this is a feature missing in goober?

[2020-12-18 08:32] cristianbote commented on #213
Oh, I see now.

The generated classNames are not _random_, each className is generated depending on the contents of the rule. Let's look at an example.

Say you have this styled component:
[code]

The className generated by goober, in this case, represents the _encoded_ value of the CSS properties we have defined. The following css will get appended:

[code]

So, if you would want to _trim_ the cl

[2020-12-22 04:30] winston0410 commented on #213
Thank you so much for your reply. I think that size doesn't matter much in the end, but as a developer who wants to optimize to the very end, I think this is needed. For website like Google or Medium, they have minimized their CSS className as well while keeping it unique.

One question though, why goober use number instead of any hash for generating unique CSS name? Is it because of bundle size i

[2020-12-22 07:47] cristianbote commented on #213
I think I am not explaining it well enough.

The classNames are already minimised.

The classNames are already a hash. Why numbers? Because that's the encoded result, without the `.toString(36)` call that would take a radix number to encode it with that base.

To reiterate over the above example, for the className `go1826659220` the hash is `1826659220`, the number part. If we would call `.toStrin

[2020-12-22 20:01] alexieyizhe opened #214 "Explanation of difference between CSS object and template string"
In the [`css` prop section](https://github.com/cristianbote/goober#using-css-with-jsonobject), it states:

I'm just curious as to what that means, and how/why that's the case

Great work btw!

[2020-12-26 03:25] natemoo-re opened #215 ""import" export target is recognized as CJS in node@12.19+"
Goober uses node's `exports` feature in `package.json` and includes the following line:
[code]

While `./dist/goober.module.js` is in fact in ESM format, `node@12.19+` attempts to parse it as CJS because it uses a standard `.js` extension. Switching this the node-supported `.mjs` extension would make Goober usable in ESM node projects.

[2020-12-28 00:31] jayalfredprufrock commented on #203
Landed here after using the cxs project which had similar goals but is no longer actively maintained. That library solved the problem by automatically stripping properties defined on propTypes (https://github.com/cxs-css/cxs/blob/eb934203a17e07aec63e971c3b87068e911b5b6e/src/component.js#L11) In combination with a babel transform that generates the propTypes from typescript typings, the developer e

[2020-12-31 14:45] atersolis opened #218 "Bug when extending styles"
First of all, thanks for this lib, I'm amazed by how much it can do while being less than 1kb.
I have reduced my bundle size by a lot using this with preact.

Unfortunately I have run into a bug while extending styles.
Here is a minimal code sample to reproduce the bug:

[code]

In this situation the text in UnderlinedBlue should be blue, but it's red because of a wrong order of the class names in

[2021-01-02 02:04] mimiqkz opened #219 "Missing type support for goober/global ?"
I was trying to use `createGlobalStyles`, by importing it as `import {createGlobalStyles} from 'goober/global'` into my nextjs typescript project. However, I got the error `Could not find a declaration file for module 'goober/global'.`

[2021-01-03 18:03] vandreleal opened #221 "Documentation Site"
Hi @cristianbote,

Congratulations on creating goober! I've created a documentation website and would like to check if you like the idea of having a website for goober. The website was created using [Docusaurus 2](https://v2.docusaurus.io) and is currently hosted at https://gooberjs.github.io. I've also invited you to the organization `gooberjs` that I created for hosting additional resources in t

[2021-01-04 08:20] cristianbote commented on #214
Hey @alexieyizhe! Happy New Year! 🎉  Thanks for opening this issue.

So, by using tagged templates, usually the transpiler would convert those either into some sort of a combination between arrays and a reduce function and also preserve the newlines, indentations and such. With objects you do not get the object structure changed, but rather neatly minified.

Lately though, if you bundle modern syn

[2021-01-04 10:00] cristianbote commented on #215
Hey @natemoo-re that is a great suggestion! Definitely need to do it. On it! Thank you!

[2021-01-04 10:03] cristianbote commented on #218
Hey @atersolis! Happy New Year! 🎉

Thank you for opening this issue and an already working PR! Amazing! 🙏

The issue is really odd 🤦  was actually convinced that this got fixed a while ago. Gonna dig a bit to look into it more.

[2021-01-04 10:04] cristianbote commented on #219
Hey @mimiqkz thank you for opening this issue!

You are right 😞  the types are missing. Gonna add them and push a new version with them. Really sorry for this.

[2021-01-04 10:11] cristianbote commented on #221
Wooow!

Thank you @vandreleal! Much appreciate the effort! Amazing! 👍  😃

Do you think a new organisation for `gooberjs` would be a great fit? I've played around with the idea a while back as well, trying to consolidate the ecosystem, and it felt a bit odd to me.

My reasoning was that for documentation, like you've so amazingly generated the docs 🎉 , a `docs` folder in the main repo would do it.

[2021-01-04 10:30] cristianbote commented on #203
Hey @jayalfredprufrock thank you so much for weighing in! Much appreciate it!

After reading your argument and looking into emotion's `shouldForwardProp` functionality and I am really digging it! `goober` currently supports `forwardRef` via the second argument, so the second argument is taken. But, what if you could pass a prop filter to `setup` instead? 🤔

[code]

What are your thoughts @devrnt?

[2021-01-04 10:41] vandreleal commented on #221
Happy to hear that, @cristianbote!

Sure thing! I'll fork the repo and play a little with the deployment to see if having the docs as a folder in the main repo would affect the ability to use a GitHub workflow to handle deployments automatically. Get back to you soon!

[2021-01-04 11:34] cristianbote commented on #215
This should be fixed now. Let me know if this is still an issue @natemoo-re! Thank you for raising this. 🙏

[2021-01-04 11:34] #215 closed

[2021-01-04 11:54] vandreleal commented on #221
Hi @cristianbote, I've just created the PR. The workflow `docs` takes care of deploying the site whenever there's a push to master. After the first successful run, you will need to go to https://github.com/cristianbote/goober/settings and set the GitHub Pages source to `gh-pages`. The website will be available at https://cristianbote.github.io/goober. I'll create a DocSearch key request at https:/

[2021-01-04 14:01] vandreleal commented on #112
@cristianbote, here's the PR pending approval for https://goober.js.org -> https://github.com/js-org/js.org/pull/5317

[2021-01-04 15:34] cristianbote commented on #112
Thank you @vandreleal! 🙏

[2021-01-04 16:31] cristianbote commented on #221
Something is up with the way docusaurus has generated the website? 🤔  https://goober.js.org/ looks odd 😄

[2021-01-04 16:32] cristianbote commented on #221
Maybe we could buikd it by hand with `wmr`+`goober` based on the root `Readme.md`?

[2021-01-04 17:07] #219 closed

[2021-01-04 23:46] vandreleal commented on #221
That's odd., @cristianbote. Have you set the custom domain in the settings page to https://goober.js.org?

[2021-01-05 18:39] devrnt commented on #203
@cristianbote @jayalfredprufrock Feels like the perfect solution to me, I opened a new PR since I accidentally removed my repo (damn me):  #227

[2021-01-05 18:59] smiley-uriux commented on #203
Love it!

[2021-01-05 19:00] jayalfredprufrock commented on #203
Love it!

[2021-01-06 09:24] gerhardsletten opened #228 "Preact cli plugin to extract styles"
I anyone need to extract styles in a preact cli application I made a plugin which does that.

[gerhardsletten/preact-cli-goober-ssr](https://github.com/gerhardsletten/preact-cli-goober-ssr)

[2021-01-06 09:37] cristianbote commented on #228
This is amazing @gerhardsletten! Would you like to open a PR to have it included in the `README`?

[2021-01-06 09:51] gerhardsletten commented on #228
@cristianbote Thanks, Goober is also even more amazing, with the joy of writing css-in-js without bundle-bloat ;-)

Maybe it should be added below a `Ecosystem` section?

[2021-01-06 09:58] cristianbote commented on #203
@devrnt thank you for doing the weight lifting in here! I've added a comment on the latest changes: https://github.com/cristianbote/goober/pull/227/files#r552475713.

Basically, the solution with the least impact on size it's if instead of iterating over _each_ of the prop, we let the user do it for us:
[code]

[2021-01-06 20:24] cristianbote commented on #228
@gerhardsletten how do you feel about placing it in here https://github.com/cristianbote/goober#integrations? 🤔

[2021-01-06 21:35] vandreleal commented on #221
Hi @cristianbote, I've updated my fork with your latest changes including https://github.com/cristianbote/goober/commit/3c4804cf5a85c253a82fc399d081e545a1284e56, and set the custom domain as `goober.js.org` for testing. It seems to be working well now https://goober.js.org. Please let me know when you apply the change on your side and I'll remove the custom domain from my fork.

![goober](https://

[2021-01-06 22:07] cristianbote commented on #221
![Screenshot 2021-01-07 at 00 06 37](https://user-images.githubusercontent.com/3405161/103824263-3f1d8c80-507c-11eb-960f-59b87ef1d809.png)

Did tried to do it earlier but it keeps displaying this error. 🤔  Is it because of your fork?

[2021-01-06 22:10] vandreleal commented on #221
I think so. Just removed the custom domain from my fork. Can you please try again?

[2021-01-06 22:15] cristianbote commented on #221
It still says that. Trying to unpublish and then publish again.

[2021-01-06 22:24] cristianbote commented on #221
woohoo! That did it! @vandreleal! 👍  Thank you so much! 😄

[2021-01-07 07:17] #221 closed

[2021-01-07 21:06] #228 closed

[2021-01-07 21:06] #112 closed

[2021-01-08 15:37] alexieyizhe commented on #214
Ah, that makes a lot of sense. I think adding a bit of clarification would be cool, but maybe even linking to this issue would suffice? I'm not too opinionated.

Thank you for explaining - feel free to close this whenever!

[2021-01-09 11:42] atersolis commented on #203
I like the idea of having a shouldForwardProps function as a parameter for setup.
But I think it would be great if goober could also provide a function in a separate package like "goober/should-forward-props" or something.

I took a look at how they do this in 'styled-components'. It turns out that they use @emotion/is-prop-valid.
The core logic is pretty straightforward [you can read it here](htt

[2021-01-11 08:18] cristianbote commented on #214
Awesome! will add the link to the readme. Thanks!

[2021-01-11 08:18] #214 closed

[2021-01-11 08:26] cristianbote commented on #203
@atersolis thank you so much for weighing in on this! 😄 happy to see the community participate in _any_ discussion!

Yeah a separate package sounds ideal as it could be extended or not, depending on what the user wants to achieve.

The logic based on browser detection, it's really odd when you take into consideration the server-side part. Since goober supports server environments that would mean e

[2021-01-13 07:01] cristianbote commented on #209
Jus discovered this https://github.com/agneym/babel-plugin-goober-css-prop 😲 awesome job @agneym! I'll add it to the list of integrations if you don't mind.

Thank you!

[2021-01-13 07:16] cristianbote commented on #203
@devrnt published `2.0.20` with `forwardProps` 🥳  thank you so much for landing this! This was all your doing! So happy to see it in `goober`.

[2021-01-13 07:16] #203 closed

[2021-01-13 09:22] agneym commented on #209
Sure 😄 I made this so I could try out `tw` prop offered by [twin.macro](https://github.com/ben-rogerson/twin.macro).

[sample repo](/agneym/next-goober-twin)

I haven't tried out other use cases for it though, hopefully it works for others 😅

[2021-01-15 07:20] cristianbote commented on #209
I might be able to look more into it and test it, but meanwhile feel free to open a PR to add it in here https://github.com/cristianbote/goober#integrations ✌️

[2021-01-15 10:01] jakehamilton commented on #185
Hey @cristianbote! Hope you're doing well and were able to have a good holiday season.

I'd put this on the back-burner as my attention was needed on other projects, but I found some time tonight to hack up a simple solution for this problem (see #236). By exposing the `cache`, we can duplicate and scope styles when requested. This is currently working for one of my projects and solves the issue o

[2021-01-18 21:01] #209 closed

[2021-01-22 08:03] kerimhudson opened #243 "Missing types on theme when using a theme"
I have a setup using Preact and Goober on Snowpack, and noticed that when using a theme within `setup`, type definitions are missing when using the `styled` function.

There's probably a smarter way of adding this in, but wanted to raise it. I'm not sure the best approach to perhaps adding this in, but I managed to get it working doing the following:

[code]

[2021-01-22 12:18] gustavoaz7 opened #244 "Missing type definitions for tagged template literals syntax"
Hello there,

I've recently found this library when looking for a lightweight alternative for css-in-js and started using it in a TS project. After setting it up babel plugin to use tagged template literals I found out it was not possible due to lack of type definitions.

<img width="711" alt="Screenshot 2021-01-22 at 10 38 23" src="https://user-images.githubusercontent.com/28453820/105473919-f716

[2021-01-23 07:57] cristianbote commented on #243
Hey @kerimhudson, thanks for opening this issue!

I wish I could help you with this but my typescript it's not that good, yet! 😅 Wondering if @devrnt has some more experience with this?

[2021-01-23 08:00] cristianbote commented on #244
Hey @gustavoaz7 thanks for opening this issue!

Uh, oh. Let me look into it. Should be possible to cover this.

[2021-01-23 08:10] devrnt commented on #243
Good morning (for me anyway) @kerimhudson

Yes indeed there is a more suitable way, see https://github.com/cristianbote/goober/blob/master/ts-tests/test-api.tsx#L6

Comes down to creating your own declaration file (e.g. `goob.d.ts`) where you extend the theme (`DefaultTheme`) interface. If you have problems, hit me up!

@cristianbote I think this should be mentioned in the docs, but I recall havin

[2021-01-23 09:06] kerimhudson commented on #243
Thanks @devrnt and @cristianbote, that makes more sense. Sorry, I just couldn't work it out. I don't see typescript in the docs, most of my setup I've been finding via the issues on Github. Perhaps there'd be some room to add to them. Might give it a go and submit a pull request.

[2021-01-23 09:10] devrnt commented on #243
@kerimhudson Seems fine on my part, everything about this topic should be mentioned here: https://github.com/cristianbote/goober/pull/193

[2021-01-23 09:15] kerimhudson commented on #243
@devrnt And where is it in the docs? I don't seem to see it there or on the README. I meant specifically for adding them.

[2021-01-23 10:26] devrnt commented on #243
Right know nothing is mentioned in the README. I gave you the PR that contains a briefly explanation of extending the theme that could be used for your PR 😀

[2021-01-23 10:40] kerimhudson commented on #243
Ah okay perfect. I just misunderstood you then as I saw a mention of adding it to the README there so thought that perhaps meant you were in the process of doing so. I'll close this for now then, and try and get that PR up later.

Thanks @devrnt and @cristianbote for the awesome work on goober. Been really enjoying it so far!

[2021-01-23 10:40] #243 closed

[2021-01-25 09:36] cristianbote commented on #243
Awesome @kerimhudson, thank you!

[2021-01-29 18:12] josiahwiebe opened #246 "Using theme with Next.js"
I'm moving a project over from `styled-components` and everything has been going super smoothly so far!

I've just had some difficulty implementing theming. I used the convention in the [`useTheme`](https://goober.js.org/api/setup#with-theme) example, but the `props` don't even seem to be getting defined (I get a "cannot read property 'theme' of undefined" error).

Here's a CodeSandbox example: ht

[2021-02-01 09:02] xxczaki opened #247 "Incorrect prefixer behavior with `position: sticky`"
Goober's built-in prefixer does not work correctly with `position: sticky;`. It changes it to: `position: -webkit-sticky, sticky;`, which is incorrect and breaks the element (it is no longer sticky).

<img width="189" alt="Zrzut ekranu 2021-02-1 o 10 00 34" src="https://user-images.githubusercontent.com/22645979/106436401-5598e700-6474-11eb-8001-034a1bc4d2b0.png">

I'm using the `styled` API with

[2021-02-02 07:03] cristianbote commented on #246
Hey @josiahwiebe, let me look into this. Kinda strange indeed! I'll get back.

[2021-02-02 07:10] cristianbote commented on #246
oooh! The error is coming from `createGlobalStyle` 😬  and I think know why.

So what's happening is that `styled` is govern by the `setup` method being called. That means, the `setups` only exists to determine the pragma that goober should use. The `css` api however knows nothing about `setup` since they are not tied at all. So one can use `css` without the need to call `setup`.

This is a limitat

[2021-02-02 07:23] cristianbote commented on #247
Hey @xxczaki thanks for opening this issue!

Indeed it's a bug! Gonna fire up a PR to fix this.

[2021-02-02 08:30] #247 closed

[2021-02-02 21:45] cristianbote commented on #246
Hey @josiahwiebe with the recent PR this got fixed. Checkout your sandbox with the updated version https://codesandbox.io/s/eager-cherry-57c9u.

Will push a new version soon.

[2021-02-02 21:48] #246 closed

[2021-02-02 22:26] josiahwiebe commented on #246
Looks great! Thanks so much 🙌

[2021-02-05 14:44] DominicTobias commented on #30
Thanks! This library seems awesome just what I’ve been hoping for, though the last comment in that issue seems like it’s a no-go for nextjs if it’s bundled into each chunk 🤔

[2021-02-16 10:22] kerimhudson opened #251 "CSS Grid Invalid property when using Prefixer"
When using the included prefixer, CSS Grid properties do not render in chrome with the error `invalid property value`.

**How to test:**

Setup goober with prefixer:
[code]

Create a div with CSS grid:

[code]

The div will not render the columns with invalid property value in chrome.

[2021-02-16 10:35] cristianbote commented on #251
Hey @kerimhudson, thank you for opening this issue. You are correct! This was an issue, and just last night I've discovered it 😬 and pushed a new fix. So, you should use the latest `^2.0.33`.

Here's a csb link https://codesandbox.io/s/kind-sky-69em4?file=/src/index.js.

Let me know if this fixes your problem 👍

[2021-02-16 11:08] kerimhudson commented on #251
What a difference once evening makes!

Yes, all good now on `2.0.33`. Great work, as always Cristian!

[2021-02-16 11:08] #251 closed

[2021-02-24 11:53] PrinceSumberia commented on #244
Hi @gustavoaz7,

Try `import { styled } from 'goober/macro'` as mentioned here: https://goober.js.org/integrations/babel-macro-plugin. This worked for me.

[2021-03-07 05:06] elektronik2k5 opened #256 "Feature request: add source maps"
Hello and thank you for pushing the CSS-in-JS ecosystem forward! :)

Source maps help trace and debug where a given style comes from.

I saw the Babel plugin already supports readable classNames, but that's just not enough in my book. For me, not having source maps is a deal breaker. That's why I've been using Emotion (as opposed to styled-components, which lacks source maps) over the last few yea

[2021-03-08 12:18] Crisis2010 opened #257 "Function components cannot be given refs."
Hello! I'd like to move from styled-components to goober, but can't fix one issue:

`Warning: Function components cannot be given refs. Attempts to access this ref will fail. Did you mean to use React.forwardRef()?`

Here is example:
https://codesandbox.io/s/react-goober-forked-w3dh2?file=/src/index.js

i've tried many things, but `console.log(ref)` is always undefined, instead of el
What i'm doin

[2021-03-08 12:37] cristianbote commented on #256
Hey @elektronik2k5, thanks for opening this issue 👍

Was not aware of the whole source map debugging issue really 😄  but glad you pointed me in the right direction. Now, `goober` works without the need of a compile/build step, that's why it's getting adopted by a lot of folks as their styling choice, cause it's not needy in that regard; and without a compile/build step I don't see how `goober` cou

[2021-03-08 12:40] cristianbote commented on #257
Hi @Crisis2010, thanks for opening this issue.

Since `goober` is agnostic of your virtual dom, jsx, library of choice,`styled` supports a second argument that is the reference for your library `forwardRef` API. In your case you need to pass `React.forwardRef` as the second argument to the components that you need your ref to:

[code]

Let me know if this helps. Cheers!

[2021-03-08 13:01] huanqingli opened #258 "bundle has arrow function，not support ie11"

[2021-03-08 14:20] elektronik2k5 commented on #256
Hi @cristianbote and thanks for responding!

Build or not isn't relevant, as far as I understand. Source maps merely point real, runtime identifiers to "virtual", original source files. The concept itself is language/build agnostic and is used in JS, TS, Sass, CSS-in-JS packages and across many other tools and languages. Specifically in `goober`'s domain, Linaria, which has source maps too.

And y

[2021-03-08 16:40] Crisis2010 commented on #257
Yeah, thanks! Tried everything except this)

It seems to me that it will not be superfluous to indicate this more explicitly in the documentation.

[2021-03-08 16:40] #257 closed

[2021-03-09 07:23] cristianbote commented on #257
Hey @Crisis2010, oh you are right! It should totally be reflected in the docs. Right now it only appears only as part of the documentation of `styled` function https://github.com/cristianbote/goober#styledtagname-string--function-forwardref-function I believe another example in that section would help. Would you like to add it? 😄 I would be really grateful! 🙏

[2021-03-09 20:41] cristianbote commented on #180
Hey @iamhosseindhv, thanks for your message. Kudos on `notistack` looks awesome!

Can you make me understand how would the custom className help you in adopting `goober`? Trying to figure out the use-cases 😄

[2021-03-09 21:07] iamhosseindhv commented on #180
Thanks for the kind words. No problem, In notistack snackbars/notifications and their positions are customised in 3 ways:

1. Custom component:
[code]

2. Using `className`, `style` and `classes` props:
[code]

3. Using CSS selectors:
[code]

It's the no.3 case that I'm trying to cover using custom classNames. Not every single `div` in notistack is addressable using the `classes` prop. As you can

[2021-03-09 21:28] cristianbote commented on #180
Thanks for the added info, I believe now it's clearer.

So, you are not trying to replace the generated className hash with a custom label, but rather have a predefined className present on each element for the users to be able to define selectors based on those?

If that's the case, the `Styled` class has a static property on it, called `Styled.className`, which is used if no `className` is incom

[2021-03-10 10:49] diegoddox opened #259 "Question: 🙋‍♂️ what is the correct bundle size?"
First thanks for this amazing lib.

I'm not sure if I'm doing something wrong but the total bundle size for `goober` is a bit over `11kb`, I'm only using `styled` and the setup I've done as it's on the doc.

Webpack: 5
Babel: 7

<img width="567" alt="Screenshot 2021-03-10 at 10 47 32" src="https://user-images.githubusercontent.com/2768497/110617854-70a6f700-8196-11eb-86f7-bde01845357b.png">

[2021-03-10 11:37] diegoddox commented on #259
Thanks @cristianbote for the quick response!

[2021-03-10 11:37] #259 closed

[2021-03-13 18:43] iamhosseindhv commented on #180
Thanks, it does fix my concern about addressing elements using CSS selectors.

However, still from a debugging perspective and doing performance optimisation it's not ideal. Here's a screenshot of the generated code using latest notistack:
<img width="541" alt="Screenshot 2021-03-13 at 18 30 07" src="https://user-images.githubusercontent.com/26996372/111040327-69981700-842a-11eb-9c8e-65a8ba1642f2.

[2021-03-14 19:59] mkhbragg opened #261 "[Discussion] Question about setup placement"
**This is not an issue**

👋  thanks so much for creating this super-light styling library - I love it so far and have not yet missed emotion since switching. Reading the goober documentation, I understand that `setup` needs to be called before `styled` can be used. I tried using `setup` in each of my Storybook `**.stories.tsx` files, with success, but then I created a component that needed access

[2021-03-15 09:45] cristianbote commented on #258
Hey @huanqingli indeed! I guess the https://github.com/cristianbote/goober#browser-support section should be updated reflecting it. Would you like to help out with that?

[2021-03-15 09:59] cristianbote commented on #261
Hey @kerimhudson, thank you soo much for your kind words! 🙏

That `setup` function was born out of a way to make sure that `goober` is agnostic of one's virtual dom library implementation. With that time the `setup` became more of a way to bootstrap and internally setup `goober`.
So, I usually call `setup` just once, at the root of the entry point for the given app.

Is there a way to hook or call

[2021-03-15 14:43] mkhbragg commented on #261
Ah ok, thank you @cristianbote! Thank you for explaining - it sounds like I will need to [create a decorator](https://storybook.js.org/docs/react/writing-stories/decorators#global-decorators) that runs the `setup` code.

[2021-03-15 15:00] #261 closed

[2021-03-18 17:42] jakehamilton opened #263 "🚨 Breaking change in 2.0.34"
# Description

It looks like between 2.0.33 and 2.0.34 `glob` was removed from Goober. Since this is a patch change, anyone pinning `goober@^2.0.0` will still receive it. This just hit us for a non-mission-critical page (thankfully).

# What's Happening?

Using `import { glob } from "goober"` is failing when upgrading from `2.0.33` to `2.0.34`.

# Expected Result

Upgrading patch versions should n

[2021-03-18 18:07] cristianbote commented on #263
Oh, darn it 😢 totally got sidetracked and forgot that I was planning that removal 😬.

Thank you so much for your suggestions, will revert and publish `2.0.35` with the `glob`.

[2021-03-18 18:08] cristianbote commented on #263
Oh, btw, you could switch by now to `createGlobalStyles` https://goober.js.org/api/createGlobalStyles

[2021-03-18 18:09] cristianbote commented on #263
OR directly import `glob` from `goober/glob`

[2021-03-18 18:23] cristianbote commented on #263
@jakehamilton just published `2.0.35` with the `glob` as part of the core again. Let me know if there's anything else.

Thank you so much.

[2021-03-18 19:18] jakehamilton commented on #263
Hey @cristianbote!

Thanks for the quick help 🙏
I saw `createGlobalStyles` in the docs, will look at moving to that. Though this piece isn't my team's direct focus at the moment so it may wait a bit. Appreciate you reverting things!

---

Looks like the latest version fixes things!

[2021-03-18 19:18] #263 closed

[2021-03-19 01:34] wildpow opened #265 "Goober not working with Gatsby v3?"
Getting an SSR is in development if SSR in development is enabled. If not dev works but builds fail.
<img width="747" alt="Screen Shot 2021-03-18 at 6 30 56 PM" src="https://user-images.githubusercontent.com/17464319/111718931-18b46400-8818-11eb-919a-f007bf4bc910.png">

Steps to reproduce
1. get a v3 starter like 'hello world' or 'default'
2. install `goober` and `gatsby-plugin-goober`
3.  add `ga

[2021-03-19 07:38] cristianbote commented on #265
Hey @wildpow, thanks for opening this!

I can reproduce it as well. The problem is that apparently gatsby tries to load in a `node` env the `esm` version of the code, and `gatsby-plugin-goober` is written in `commonjs`. Once I changed the imports to `esm` seems to work fine. I still think there might be some weird exports map issue with gatsby, but it's an easy fix that can be done from our side.

[2021-03-19 07:44] cristianbote commented on #265
Fixed in `gatsby-plugin-goober@2.4.0`

[2021-03-19 07:46] cristianbote commented on #265
@wildpow let me know if it's all good, when you got a second. Thanks again for opening this up!

[2021-03-19 07:46] #265 closed

[2021-03-19 07:48] wildpow commented on #265
Thank you, sir. You are a gentleman and a scholar.

[2021-03-22 03:55] mpkelly commented on #257
@cristianbote I needed this too and didn't spot it in the docs. So I have added an example to make it more obvious and sent you a PR. It would be handy to keep this param of `styled` but allow a default as part of the `setup` call. I could send you a PR later for that, if you want?

Also have a question: does goober have an equivalent of [.attrs](https://styled-components.com/docs/api#attrs) from

[2021-03-22 07:50] cristianbote commented on #257
Awesome work @mpkelly! Thanks for opening the PR.

As for the `.attrs` api, there's no equivalent in goober. I believe there should be a hard line between _Styled_ components and regular ones and I feel strange about `.attrs` 😄  it's like a _pre_-processor for your props but shouldn't that functionality exist inside the functional components instead? I don't know, I really think we should keep the

[2021-03-22 08:25] mpkelly commented on #257
@cristianbote thanks for taking time to write the example! You're right that this is a general problem and not something that should necessarily be in the library. I actually wrote a HOC that allows me to control the final props and that worked well in this case. It was just that I had used goober v1 a year or so ago and thought I remembered being able to do something similar to `.attrs` - but lik

[2021-03-24 11:20] danielweck opened #269 "Unbounded global cache can potentially grow very large during static SSR"
When using Preact `render-to-string`, Goober's cache grows indefinitely.  There is a "global" object (well, module scoped) used to memoize "compiled object" -> "classname/hash" **and** "classname/hash" -> "generated CSS".

Code references:

https://github.com/cristianbote/goober/blob/942ab335d5fd4f125d0ae9e340b7004a45b52171/src/core/hash.js#L6-L9

https://github.com/cristianbote/goober/blob/942ab3

[2021-03-24 13:27] danielweck opened #270 "goober/prefixer README mentions `tiny-css-prefixer` but `style-vendorizer` is used."
The documentation is out of date:

https://github.com/cristianbote/goober/blob/master/prefixer/README.md#goober-autoprefixer

See commit:

https://github.com/cristianbote/goober/commit/6fe8d8e5c099af6b1222c9e75d89229a360736be#diff-16bbea0941db4db79d82934c8d028244bd83d653f15d800015daa4d0dd631cd3

[2021-03-24 13:38] cristianbote commented on #270
Oh, thank you so much @danielweck! Indeed. Feel free to open a PR to address it. It's more than welcomed. 👍

[2021-03-24 13:47] cristianbote commented on #269
Hey @danielweck! Thanks for opening this one. Love your findings.

Indeed, the cache object can grow depending on your usage and styled/css components. Initially `cache` was bound with an entry count. I believe it was 10k entries or something but ultimately got removed because all the test/website data I could get my hands on pointed that it wasn't needed since the runtime will get at a point wher

[2021-03-24 17:13] kudnx commented on #270
Good day, can i pick this up?

[2021-03-24 19:31] danielweck commented on #270
Feel free, unfortunately I do not have the bandwidth for this :) Thanks!

[2021-03-25 00:01] kudnx commented on #270
@danielweck Thank you!

[2021-03-25 10:29] cristianbote commented on #270
Closed in #272

[2021-03-25 10:29] #270 closed

[2021-03-27 01:25] mkhbragg opened #273 "Styling custom component?"
Does goober support styling of another React component? For example:

[code]

When I use the code above, `FancyIcon` is rendered correctly, but `position: absolute` is not applied. Is this by design or is this a bug?

Adding `style={{ position: 'absolute' }}` to `FancyIconView` in `FancyComponent` works, but I would prefer to use goober.

Thank you! I really appreciate this library 🙏

[2021-04-01 17:26] steschwa opened #275 "Missing types for `styled` with array of functions"
## Problem

The documentation has an example that allows passing an array to the `styled` function whose items can also be a function  (https://goober.js.org/api/styled#arrays). Unfortunately the current TS typings do only allow an array of `CSSAttribute` (https://github.com/cristianbote/goober/blob/master/goober.d.ts#L70).

## Example

[code]

## Fix

A simple solution would be to just extend the

[2021-04-02 05:32] cristianbote commented on #275
Hey @steschwa, thanks for opening this issue and looking at the issue as well. I would appreciate the PR for sure! 🙏 Thank you!

[2021-04-02 11:36] #275 closed

[2021-04-05 20:47] cristianbote commented on #273
Hey @mkhbragg, so sorry for my late reply!

It should work seamless, as long as `FancyIcon` accepts a `className` as prop. Here's an example with `FancyIcon` defined locally https://codesandbox.io/s/friendly-pine-uh1x4?file=/src/App.js.

Let me know if this worked for you.

[2021-04-05 21:03] #187 closed

[2021-04-06 00:30] mkhbragg commented on #273
Ahh, accepting `className` as prop on `FancyIcon` was the missing piece. Thank you so much! 💛

[2021-04-06 00:30] #273 closed

[2021-04-07 13:07] eone666 commented on #258
@cristianbote You need to configure the babel config

Enter the browsers you wish to support into the target property

[2021-04-07 13:11] zhaoyao91 opened #278 "create goober instance?"
I want to use goober for libraries, but the setup is global and there is module level cache etc which may not be suit for that purpose. Is there a way/plan to support create a completely isolated goober instance?

[2021-04-07 14:15] cristianbote commented on #278
Hey @zhaoyao91 thanks for opening this issue.

Depends on your library needs. `goober` supports custom `target` to be defined for each `css` context. For example, let's say you have your own `<style>` tag that you'd like to append to and not the `<style id="_goober">` one. So, you can do this:

[code]

After the above render pass, your styles are gonna live inside your previously bound target. The

[2021-04-07 14:17] cristianbote commented on #105
This has been stale for a while, but now you can use the `createGlobalStyle` that will ensure that each time the global component is used, the styles are added to the cache. If that was the issue or the confusion, then this is taken care of.

[2021-04-07 14:17] #105 closed

[2021-04-07 14:18] #158 closed

[2021-04-07 14:21] #175 closed

[2021-04-07 14:28] cristianbote commented on #213
If there's anything else that needs to be cleared out please reopen it. Thank you!

[2021-04-07 14:28] #213 closed

[2021-04-07 14:29] cristianbote commented on #206
If there's more to it please reopen it. Thank you!

[2021-04-07 14:29] #206 closed

[2021-04-07 14:42] zhaoyao91 commented on #278
@cristianbote thanks for your reply. I've noticed the target binding, but there are other global things such as setup (which uses a global parser) and a module level cache (see [code](https://github.com/cristianbote/goober/blob/master/src/core/hash.js#L9)), these design are not much suit for isolated use case since we want to make sure all effect are grouped into instances.

[2021-04-08 08:13] vvni commented on #59
In fact, this function is pretty good.

[2021-04-08 09:08] pure-js opened #279 "Should I use goober setup once or on every component?"
I want to clarify whether you need to use `setup` on each page or once for the entire SPA?
[code]

[2021-04-08 09:12] cristianbote commented on #279
Hey @pure-js, only once at the root of your app. Gonna update the docs and readme to reflect this as well. Thanks for pointing it up! 😃 If you want feel free to open the PR yourself. 👍

[2021-04-08 16:57] zhaoyao91 commented on #269
maybe the cache could be shifted with the css function instance? so there would be no memory leak since its lifecycle is with the css function instance.

[2021-04-09 10:08] zhaoyao91 opened #280 "Question about the indexOf in update"
see the [code](https://github.com/cristianbote/goober/blob/master/src/core/update.js#L20)

[code]

There may be some problems

- when the sheet grows big, would it hurt performance cause indexOf may have a complexity of O(n*m)
- there may be wrong case for such a test, for example, if I already have a style `.a .b {color: blue}`, then want to add a style `.b {color: blue}`, as the new style is a s

[2021-04-09 16:50] eone666 commented on #258
[code]

[2021-04-11 13:40] andreipfeiffer opened #281 "`css` prop missing type definitions"
I've managed to add the `css` prop babel plugin, but it has a few limitations:

1. the `css` prop is not recognized by TS, so we get type errors
2. because of this, there's no code completion or type-checking in the styles definition
3. when using Next.js, you must suppress all TS errors when building for production

[Emotion](https://github.com/andreipfeiffer/css-in-js/blob/emotion/pages/other.ts

[2021-04-11 14:29] andreipfeiffer opened #282 "`styled` API missing `as` prop TS type definition"
When using the `styled` API, the `as` prop works as expected, but the TS type definition is missing from the definition file.

<br />

<img width="917" alt="Screenshot 2021-04-11 at 17 24 35" src="https://user-images.githubusercontent.com/2570562/114308112-5e98db00-9aeb-11eb-82c5-4245bac419d3.png">

[2021-04-12 07:11] cristianbote commented on #280
Indeed for a large style sheet `indexOf` could be an issue, but I fail to see an implementation that would not have this issue 🤔 . Oh actually I think there might be one, via CSSOM. And it'll go something like this:

[code]

Now for the second issue, due to the way one needs to define the styles either via `css` or `styled`, I don't think there is a chance for that conflict to happen, since the `.

[2021-04-12 07:12] cristianbote commented on #282
That's a good catch @andreipfeiffer! Thanks for opening this issue 🙏

[2021-04-12 07:17] cristianbote commented on #281
Interesting 🤔  I believe this is related to JSX overwriting the types related with #175

[2021-04-12 07:56] andreipfeiffer commented on #281
The `css` prop is a bit of a magic to me as well, since I don't fully understand how it works.

It basically changes how native HTML elements should behave (because `css` is not a standard HTML attribute) by extending the global/standard namespace.

**FYI**: I've followed the steps in the [docs](https://goober.js.org/integrations/css-prop), not sure if they are up-to-date, or if I'm missing someth

[2021-04-12 08:28] #279 closed

[2021-04-13 03:13] itsabdessalam commented on #258
I encountered the same issue recently and this is what I did.

If you are using webpack or another bundler, you can use babel in your project in order to support older browsers.
Be sure to specify the babel configuration (with necessary presets and plugins) in `babel.config.json` to also compile imported node_modules packages (see https://babeljs.io/docs/en/configuration#whats-your-use-case)

**we

[2021-04-13 06:49] cristianbote commented on #258
Oh, maybe I should've been clearer 😅  but the idea is not to offer out of the box support for IE11. The size increase it's not justified. So what needs to happen is to update the browser support section to reflect that IE11 is not supported.

[2021-04-13 07:01] itsabdessalam commented on #258
Totally agree with you! That's why I suggested the solution mentioned above for those who want to have IE11 support on their side

[2021-04-13 07:35] cristianbote commented on #258
Totally @itsabdessalam! Good call.

[2021-04-14 02:55] ben-rogerson opened #285 "Support interpolated objects"
Hey Christian

Would it be possible to add support for objects interpolated within template literals?

[code]

This feature would be great so people using twin can add styles like this:

[code]

[2021-04-14 06:54] cristianbote commented on #285
Hi @ben-rogerson!

Actually that's a good point! I think we've played with this before 😅  and also recently I had a discussion about not being able to spread the props on tagged templates. With that being said, gonna add the support for this, asap.

[2021-04-15 07:33] dvoytenko opened #290 "css function collides on global window props"
This is specifically appears to be happening in [this line](https://github.com/cristianbote/goober/blob/0dfe7baac1922894e2f06aed44eafeebe3b236d2/src/css.js#L10).

[code]

A basic `css()` can happen in a situation where `this === window`. My tests were using iife rollup config, which doesn't nullify `this` and I think it's relatively common. Thus, a collision can happen. E.g.

[code]

[2021-04-15 07:39] cristianbote commented on #290
Uh oh @dvoytenko you are right! 😓 Looking into it.

[2021-04-15 17:48] danielweck commented on #269
FYI insightful cache / hash  -related comments in this PR by @kitten https://github.com/cristianbote/goober/pull/288#issue-615675197

[2021-04-16 13:12] mikestopcontinues opened #292 "What's the catch? ;)"
Hey @cristianbote, this project is damn awesome.

I'm interested in converting a pretty large codebase, and I'm trying to figure out if there might be a hidden catch. I've read though the API and the comparison, but I'm flabbergasted you can keep everything with at 8% the size of styled-components.

I see that goober-autoprefixer adds 0.5k back in, which is _very reasonable_. But what else? Does t

[2021-04-16 23:03] ben-rogerson commented on #285
That's awesome, thanks Christian 👍

The prop spreading would be a great feature too.

[2021-04-19 08:18] cristianbote commented on #292
Hey @mikestopcontinues!

Thanks for opening this issue with a valid question! 😄

One thing that is certain is that you won't be suffering from performance degradation, neither on the server nor on the client. That is a certainty. You can peak at the benchmark folder to get a thorough look inside.

What you will be not getting with `goober` is the developer experience that the teams behind styled-c

[2021-04-19 11:10] mikestopcontinues commented on #292
@cristianbote Awesome! Thank you very much for the detailed response. I definitely switch over sometime within the next month, and when I do, I'll make a contribution via opencollective. Thanks again!

[2021-04-19 11:10] #292 closed

[2021-04-19 14:14] joneslloyd opened #294 "Cannot read property 'data' of undefined"
I'm using Goober with Preact (and [Twin](https://github.com/ben-rogerson/twin.macro)), and I'm having some difficulties making Goober play ball with Shadow DOM.

When I try to run something like this:

[code]

...it does correctly add the styles (`color: red !important;`) to the shadow component (`app-shadow-section`), but it also gives a console error that kills the app:
[code]

(As an aside, if

[2021-04-19 14:40] joneslloyd commented on #294
Similarly, if I try to get around the issue by defining a styled component and then pulling its styles from `<head>` and then directly applying them to my shadow dom component, I get the same error (even though those styles are applied to the component) :

(It's using some Twin syntax; feel free to ignore, given the issue seems to pertain to Shadow DOM, and the following code works if the target n

[2021-04-19 15:01] cristianbote commented on #294
Hey @joneslloyd! Thanks for opening this issue!

This is most certainly coming from the fact that there isn't a `textNode` inside the style tag that you are trying to target; hence the missing `.data` property on it. So with this, that should be:

[code]

[2021-04-19 15:04] joneslloyd commented on #294
Hey @cristianbote ! Thanks for the super-fast response!

Doing as you've suggested still doesn't seem to do it unfortunately :(

<img width="575" alt="Screenshot 2021-04-19 at 16 02 52" src="https://user-images.githubusercontent.com/997427/115258245-b907ec00-a128-11eb-996b-92de418aadc7.png">

Also do you have any suggestions as to why it is happening with `goober.css.call({ target: shadowRoot }, `

[2021-04-19 15:33] joneslloyd commented on #294
Sorry I should add: The main thing I'm trying to do is change the [targets](https://goober.js.org/api/targets/) so that the CSS is put into a `<style>` tag on my shadow component, but when I do this it's ignored:
[code]

[2021-04-19 19:16] cristianbote commented on #294
Do you happen to have a handy codesandbox at hand? I'm struggling to reproduce it. I revived this web-components demo https://codesandbox.io/s/immutable-moon-x7k7xwz6mz just to make sure everything works, and it seems so. So, any chance you can reproduce it in codesandbox?

[2021-04-19 19:21] joneslloyd commented on #294
Hey – I have t[he public repo](https://github.com/joneslloyd/builds-widget) itself if that helps?

But I can put it onto CodeSandbox if that's easier?

(Note: In this repo I've hacked together a kind-of workaround in `/src/widget/index.js` by manually moving the CSS from the `<head>` to inside the Shadow DOM, via pure JavasScript).

In an earlier version, inside the same `useEffect` function, I se

[2021-04-19 19:38] cristianbote commented on #294
Oh ok, tried to run the repo, but I bet I am missing some env variables that would make it load. I've tried to take out as much but still can't reproduce the above issue. Even removed the entire `useEffect`. Any chance I can isolate the functionality more than that?

[2021-04-19 19:45] joneslloyd commented on #294
Oops, sorry about that. The ENV vars aren't secret or anything; rather, there were different ones for local development.

Try creating a `.env` file in the project root with:

[code]

I will also try to get a codesandbox together later

[2021-04-20 09:04] joneslloyd commented on #294
Sorry for the slow(er) response.

Here's the CodeSandbox: https://codesandbox.io/s/builds-widget-v4sld

[2021-04-24 12:50] vfonic opened #300 "Improve development docs?"
I wanted to try to shave off some of the bytes of the package, but I hit an issue trying to setup the package for local development.

Here are some of the issues I've encountered:

1. There's no documentation on what needs to be run and how/when in order to run tests locally
2. I cloned the repo and ran `npm i` followed by `npm run test`.
  This failed because it seems like I need to run `npm i` s

[2021-05-20 19:39] fly1ted opened #314 "Comments leak to production via createGlobalStyles"
Steps:
1. Open https://codesandbox.io/s/react-goober-forked-2dw5v?file=/src/index.js
2. `Open in new window` button
3. Chrome dev tools -> `Esc` -> `Search` -> type "Test comment"

![image](https://user-images.githubusercontent.com/8587695/119037680-f4f9cf80-b9ba-11eb-9a84-2fcc123e1bb3.png)

It maybe coz sandbox runs development env, but I see the same thing in production in my app as well. Goober

[2021-05-20 20:16] fly1ted commented on #314
I just realized that Goober cleans the comments just fine, it's the string that's formed from template literal before goober gets in the game. It's tricky to overlook though.

[2021-05-21 05:51] cristianbote commented on #300
Hi @vfonic!

So sorry, for my late response, for some reason got really sidetracked.

In a nutshell, I believe you are right, the development docs could be improved a lot. Now, let me address each point you made:

1. Indeed. Usually a `npm run test` should be enough. And `npm run test` can't run without `npm install`.
2. Correct again! I think this is the source of most tests commands not working

[2021-05-21 05:55] cristianbote commented on #314
Hey @fly1ted! Oh yeah 😬  basically the template string gets compiled/transpiled with the comments in it. I really have no solution to that one, since it's kinda out of my control at that point. Do you have any ideas on how to handle it better?

[2021-05-21 07:06] vfonic commented on #300
Thanks for the detailed response!

I'm on my phone so just a quick note for 5: the actual license in the repo in LICENSE file is MIT. that's the confusion I'm talking about here. It seems like the repo claims one license, while the package.json claims the other.

[2021-05-21 08:36] fly1ted commented on #314
For now, I've coded theme/order dependent global styles as object, while in other places, within my app, I use goober only with object notation. There's a related issue styled-components/babel-plugin-styled-components/issues/12, it's solved with a babel plugin.

[code]

[2021-05-22 12:32] mikestopcontinues opened #315 "Bad transform in `:where()`"
Hey, it seems the second value in `:where(a, b)` is being transformed when it shouldn't be.

This input:
[code]

Yields this output:
[code]

As you'd expect, the bug also occurs for `:is(a, b)` and for any specifier after the first (`:where(a, /* all bad => */ b, c, d)`).

[2021-05-22 14:09] cristianbote commented on #315
Hey @mikestopcontinues! Thanks for opening this one. Gonna look into it asap. Sounds like the dot in there trips up the parser.

Is this happening for object styles as well?

[2021-05-22 14:26] mikestopcontinues commented on #315
Hey @cristianbote, it is also happening in object notation. Thanks for looking into it! :)

[2021-06-11 06:29] stepan-dashkevich opened #323 "using keyframes with shadow dom"
I'm trying to set up preact + goober (latest) app which should mount into shadow DOM.
[code]

And it seems to work fine until I try to add keyframes

[code]

Somewhy it doesn't account for a binded target and still render keyframes into head
![image](https://user-images.githubusercontent.com/59695738/121556120-46c2d200-ca1c-11eb-8c4c-0375b5ff3a30.png)

Which leads to keyframe animations not workin

[2021-06-11 06:56] cristianbote commented on #323
Hi @stepan-dashkevich!

Agh, this is a strange one. Let me look into it. Also keep in mind that `keyframes` is basically this:

[code]

So you might try this:

[code]

But it should work just fine as you had it initially, gonna look into it.

[2021-06-11 11:56] stepan-dashkevich commented on #323
@cristianbote Tried this same code with what you've suggested and it worked for me. Thanks!

[2021-06-14 05:45] cristianbote commented on #323
Awesome news @stepan-dashkevich! Going to close this then, let me know if this is still not working.

[2021-06-14 05:45] #323 closed

[2021-06-20 20:26] mimiqkz opened #331 "Cannot wrap the application to properly work with server-side rendering for Nextjs and error on type with styled-tools"
I have been trying to find a way for wrap the application to use with Nextjs. I followed the example shows in here https://codesandbox.io/s/eager-cherry-57c9u?file=/pages/_document.js.
However, it doesn't seem to work when you're doing it with typescript

Also I got this error upon trying to use styled with styled-tools.
`Property 'theme' is missing in type '{ children: Element; }' but required in

[2021-06-22 06:37] cristianbote commented on #331
Hi @mimiqkz thanks for opening this issue!

Are you able to share a codesandbox with the code that is failing? 🤔  the linked one is the example. Also, looks like you are defining types for `styled-tools` and `goober` to work together? Sharing those would be helpful as well.

[2021-06-22 17:10] mikestopcontinues opened #332 "Props filter doesn't work with `as`"
Here's a [reproduction](https://codesandbox.io/s/next-goober-forwardprops-8x4pn?file=/pages/index.tsx). Note the console error:

[code]

How it works:
1. Setup `shouldForwardProps((prop) => prop !== 'as')`
2. Create a goober styled component. (e.g. Div)
3. Use the component, `as={FuncComponent}` (e.g. Link)

Error: `as` is still passed through. In this case, to an `a`.

I have tried other variatio

[2021-06-23 13:46] mikestopcontinues opened #335 "/* comments */ break media query rules is strange, varied ways"
One thing I noticed is that media queries are broken by comments. Sometimes the media block braces are omitted. Sometimes the styled component className is appended to the results. Here's the output from the very last example above. As you can imagine, it has consequences for the rules that follow each of these things...

[code]

[2021-06-23 22:32] mimiqkz commented on #331
@cristianbote Yes, here is something https://codesandbox.io/s/brave-proskuriakova-i4ews?file=/pages/index.tsx

[2021-06-24 08:17] cristianbote commented on #332
Wondering if this bit here https://github.com/cristianbote/goober/blob/master/src/styled.js#L54 is causing this 🤔  the comment says it well, that should not fwd for strings or built-in nodes.

[2021-06-24 08:18] cristianbote commented on #332
Also, `shouldForwardProp` really needs to be moved per `styled` call 😬 . What do you think? This will be a breaking change, which would call for a major `3` version.

[2021-06-24 10:08] mikestopcontinues commented on #332
Yikes! I actually read that line of code a few times before posting, and I think because the effect was so unintuitive to me, I just didn't see it. 😓

My own mental-blindness aside, I do think the right behavior is to always filter props as the user describes. I don't see a case where props used for styling would be passed to a string element, but not a functional component. `as` is a good example

[2021-07-01 14:29] vospascal opened #337 "return generated css not the hash"
is it posible to just return the generated css from this so i can use it like that

[code]

[2021-07-01 15:06] vospascal commented on #337
never mind got it working in svelte already with custom components

<script>
import {css} from 'goober';
import {get_current_component} from "svelte/internal";
const component = get_current_component();

const shadowSheet = css.bind({target: component.shadowRoot})
const generatedClassname = shadowSheet` background: firebrick;  color: #fff; `;

console.log(component.shadowRoot.styleSheets); // <--h

[2021-07-01 16:09] vospascal commented on #337
would still be nice to get the sting for the stylesheet so you can manualy inject it

[2021-07-02 18:46] vospascal commented on #337
@cristianbote i added it my self

[code]
usage this way i can manualy append it to the shadow dom or head of the document.
[code]

[2021-07-08 10:41] jlalmes opened #338 "Typescript & babel-plugin-transform-goober"
Hi, I'm investigating migrating from `styled-components` to `goober`, but have found `styled.div`` ` is causing `Property 'div' does not exist on type 'StyledFunction'.ts(2339)` error with Typescript. Are there some additional types that we are missing?

[2021-07-08 11:09] jlalmes commented on #246
@cristianbote - Is it possible to add types so that we can use the `DefaultTheme` inside `createGlobalStyles`. Currently receiving `Parameter 'p' implicitly has an 'any' type.ts(7006)`.

[code]

[2021-07-08 11:15] jlalmes commented on #338
Just found another different issue where props are always type `any` in `createGlobalStyles` - attaching it here for visibility (https://github.com/cristianbote/goober/issues/246#issuecomment-876348623)

[2021-07-09 05:41] cristianbote commented on #337
@vospascal awesome! Yeah, you can easily import each function and use it. I've seen folks build their own `styled` api with these functions as well. That's what makes goober great! 💪

Let me know if there's other info you need, but seems you got it.

[2021-07-09 05:41] #337 closed

[2021-07-09 09:50] #338 closed

[2021-07-10 17:33] mikestopcontinues opened #347 "New type in `2.0.39` breaks createGlobalStyles funcs"
[This line](https://github.com/cristianbote/goober/commit/60e75f046beda9f78ff9acc209e03552de806af0#diff-bb31806b34e7d09f9fc65fb3e422c8d5d3a74a08164d3a59b3ba965004681ed0R18) now says that `(props: Theme<DefaultTheme>)`, rather than `(props: {theme: Theme<DefaultTheme>})`.

[2021-07-11 15:16] jlalmes commented on #347
Hi @mikestopcontinues `(props: Theme<DefaultTheme>)` is the correct type. Please see the `Theme` type implementation here: https://github.com/cristianbote/goober/blob/master/goober.d.ts#L10

[2021-07-11 16:14] mikestopcontinues commented on #347
Thanks @jlalmes, my bad!

[2021-07-11 16:14] #347 closed

[2021-07-12 14:01] riccardogiorato commented on #218
Hey @cristianbote I am having the same issue, is there any fix on this behaviour possible?

[2021-07-14 09:37] marconucara opened #348 ""as" prop break component restyle"
If you restyle a component using `styled(OriginalComponent)` syntax and then you use this restyled component with the prop `as` goober do not render the class of `OriginalComponent`, so you loose the original style. If you remove `as` everything works fine.

Here is an example with both goober component and native component wrapper:

https://codesandbox.io/s/vanilla-forked-re536?file=/src/index.js

[2021-07-14 11:19] cristianbote commented on #348
Hey, thanks for opening this issue. Do you thing is related to this one #220?

[2021-07-14 13:57] marconucara commented on #348
I don't thinks so, because if you check the rendered dom in my example you will see an item without two classes when you use the `as` prop.
I also suggest you to merge the other bug solution anyway, because probably evryone prefer a library with 30b more an 1 bug less.

[2021-07-25 20:52] cwgw opened #349 "Passing a styled component to "as" produces a fatal error"
Hello!

I'm seeing a browser-crashing bug when passing a styled component to the `as` prop of another styled component.

The snippet below produces the behavior—a stalled-out tab that eventually displays Chrome's "Aww snap" screen and Firefox's "This page is slowing down Firefox" notification (an infinite loop?).

[code]

Here's a [sandbox](https://codesandbox.io/s/priceless-bhabha-uudfq) that dem

[2021-07-26 06:11] cristianbote commented on #349
Heyo! Thank you so much for opening this. Something is not right indeed. Hopefully gonna have some time to look into it.

[2021-07-26 08:39] cristianbote opened #351 "⚠️ Heya! Heads up"
Hi there 👋

I'm gonna be slow to respond in the coming weeks. Unfortunately, I'm the sole maintainer so my time is the main bottleneck in devoting time to goober. Thank you for patience and solidarity.

PS: If you believe in goober and want to pick up the work on it, feel free to reach out! I'm more than happy to include you or anyone who adhere to goober's ideology.

[2021-08-05 07:18] mpkelly commented on #332
One thing I just noticed is that `shouldForwardProp` is not called when the `styled` component is wrapped in a HOC.

[code]

I didn't look at the source yet to see why. In both cases, goober is receiving the props though. I will open a separate issue if I can confirm it is a bug.

[2021-08-07 19:40] rob-myers opened #354 "How to extend types to permit specifying displayName"
The following produces a typescript error because `StyledVNode<T>` does not permit `displayName`,
[code]
I can fix this via hacks (`any` or `Object.assign` or by patching your typings).
Is there a better way?

[2021-08-14 07:18] #349 closed

[2021-08-24 07:34] cristianbote opened #366 "Allow multiple definitions for same rule/block"
For example `@font-face` is used to define multiple font families but with the same block name.

[2021-09-27 11:55] alan-ws opened #374 "Jest with goober - Error: Uncaught [TypeError: i is not a function] - The above error occurred in the <l> component:"
What seems to happen - if I pass a goober styled 'h1' component to the `render` method, I get this horrible error dump. If I pass in the same method but replace the goober styled component with the native HTML tag 'h1', then it works.

Title is a function that returns a goober styled 'h1' component. `memo` does not play a role, it is purely the goober styled `<H1 />` component.

[code]

[code]

FA

[2021-09-27 12:38] monkeyphysics opened #375 "@media-queries with preceding content (without newline) will render without brackets"
First of all, my usecase is somewhat unique, as some CSS is coming from a JSON file as a single string.

I've checked the CSS specs, but as far as I can see, [newlines and/or whitespace are optional](https://www.w3.org/TR/css-syntax-3/#token-diagrams).

For easier replication and testing I've set up this [codepen demo](https://codepen.io/monkeyphysics/pen/qBjQQbw?editors=1010).

- Input:
[code]
-

[2021-09-27 13:22] cristianbote commented on #374
Heya @alan-ws! This looks like the `setup` function for setting up the pragma is not getting called at all. 🤔 so I believe that is the issue. You need to call `setup()` at the beginning of the test.

More info on here https://goober.js.org/api/setup

[2021-09-27 13:23] cristianbote commented on #375
Uh, this is a nice one! Looks like the space between `;` and `@` messes with the parser. Looking into it. Thanks for opening it!

[2021-09-27 13:32] alan-ws commented on #374
@cristianbote You genius! Thank you. I had no idea I had to use `setup` in various places. This solved the issue I had with recat-cosmos not rendering the component either!

[2021-09-27 13:38] #374 closed

[2021-09-28 08:42] monkeyphysics commented on #375
I've been doing some digging, the converting in `core/astish.js` will generate an object with a space-prefixed key:

[code]

This will make the parser in `core/parse.js` not recognise the `@`-directive, because it's checking that by string indexes:
[code]

So there's multiple solution that I've found to be working:
1. Make the [regex](https://regexper.com/#%2F%28%3F%3A%28%5B%5Cu0080-%5CuFFFF%5Cw-%

[2021-09-28 17:53] marvson opened #376 "Using createGlobalStyles together with themes leads to incorrect behaviour"
When using a theme, if a button is used to change the background color for the body tag, for example, the first time it works fine, but the second time, it doesn't. Digging a little, I noticed that every time I click the button, changing the theme values, a new style tag is added to head. The first time it overwrites the default value, but once you want to go back to the default value, it was alre

[2021-10-07 08:51] ayoubphy commented on #186
I checked the sandbox, something is not working correctly, while the styles are working, the html elements have the attributes on them.

[2021-10-20 07:19] nariakiraHara opened #378 "About Licensing"
It was pointed out to me that the license for using this OSS in the project is either MIT or ISC.
The LICENSE file says MIT, but the package.json says ISC, but which is the official license?

[2021-10-20 07:37] cristianbote commented on #378
Hey @nariakiraHara thanks for opening this issue.

You are correct, the package.json says ISC and the repo specifies MIT. Now looking into what is the difference between them besides naming and I can see that the MIT one allows private usage but the ISC one does not. Is this something that concerns you?

[2021-10-21 01:40] nariakiraHara commented on #378
@cristianbote Thanks for the reply.
What I want to know is which license I should use in compliance with.
I don't think it's both ISC and MIT, but I'm not sure.
Is there any problem to use it according to ISC?

[2021-10-21 22:31] HenrikDK2 opened #379 "The CSS function doesn't extract the css for SSR (gatsby-plugin-goober)"
^^

## Button styled with css function
![Button styled with css function](https://user-images.githubusercontent.com/30632653/138365531-40181e0d-9b31-403f-a3e8-93cc3b0ae545.gif)

## Button styled with styled function
![Button styled with styled function](https://user-images.githubusercontent.com/30632653/138365563-f3eeaf91-4a90-44aa-a1c3-d91dc52edb13.gif)

Any fix for this would be appreciated, som

[2021-11-03 05:57] mohamedfasil opened #381 "How to lint the css written using stylelint or eslint ?"
How to lint the css code written in JS / TS files using stylelint or eslint  ?

[2021-11-03 06:14] cristianbote commented on #381
Hi @mohamedfasil!

That's a good question. I am not that familiar with either but is it possible to use them for css-in-js? 🤔 do styled-components or emotion found a way to support it? It'll be similar or exactly the same if they do.

[2021-11-03 06:47] mohamedfasil commented on #381
Hi @cristianbote, thanks for the reply
I was able to add lint support using `stylelint`, I just followed the documentation for [styled-components](https://github.com/styled-components/stylelint-processor-styled-components)
Maybe we can add this to the documentation, might be helpful for someone

[2021-11-03 07:16] cristianbote commented on #381
That's awesome! For sure, adding it to the documentation sounds great! Feel free to open up the PRs.

[2021-11-08 19:40] B-Teague opened #382 "css Props helper function syntax similar to html helper functions"
I was writing my own CSS-in-JS library [morpho](https://github.com/B-Teague/morpho) and I came across goober that has a lot of the same features I wanted including using JSON objects for cssProps.  I like goober's implementation of vendor prefixing better, and it already had SSR implemented.  Instead of trying to "reinvent the wheel", I would like to contribute to goober instead.

I'd like to add

[2021-11-09 07:23] cristianbote commented on #382
Hi @B-Teague! 👋 Thank you so much for opening this thread! Kudos on morpho looks great!

TL;DR; totally interested!

Neat! Haven't seen this kind of style composition before. The interesting thing is I believe as long as `combo` returns an object or an array this should work out of the box since the `css` function supports objects, tagged templates, functions or arrays.

[code]

So as long as `com

[2021-11-09 10:59] alan-ws commented on #292
Hey @cristianbote - would you be able to show me how you used goober with react-native. I am looking to unify a codebase and would like to use goober only for both react and react-native. I'd likely fork goober and implement the approach if I need to, unless it can work without changing much of the goober codebase

[2021-11-09 11:01] alan-ws opened #383 "Using goober in react-native for a unified code base"
#292

Hey @cristianbote - would you be able to show me how you used goober with react-native. I am looking to unify a codebase and would like to use goober only for both react and react-native. I'd likely fork goober and implement the approach if I need to, unless it can work without adding much of the goober codebase

[2021-11-09 14:12] B-Teague commented on #382
Awesome!  I'll send a PR your way once I'm done testing.

[2021-11-10 18:06] Adam-Collier opened #384 "Conditional style"
Hi guys, I was wondering if it is possible to handle conditional styles based on whether a prop exists or not? I've done it before in styled-components using the below:

[code]

so if the padding prop exists the css will be applied, if not it will be ignored. Hope you can help!

[2021-11-11 07:16] cristianbote commented on #384
Hey @Adam-Collier thanks for opening this issue!

You sure can! In goober though you don't need the `css` tagged template.
[code]

[2021-11-11 08:12] nariakiraHara commented on #378
Hi @cristianbote

I'm sorry to keep you busy.
I really need a fix to change the license from ISC to MIT for use in a project.
Please confirm.

[#380](https://github.com/cristianbote/goober/pull/380)

[2021-11-11 08:23] cristianbote commented on #378
Hey @nariakiraHara sorry, got sidetracked. Merged your PR gonna push a new release.

[2021-11-11 08:26] cristianbote commented on #378
published 2.0.42

[2021-11-11 08:26] #378 closed

[2021-11-11 08:35] cristianbote commented on #383
Hey there @alan-ws!

The way I've used goober in the past was with next.js(with preact) and a shared component source. Then I went ahead an configured next.js to alias everything `react-native` to another package that would export similar `react-native` APIs.

[code]

That `cramped` package (which I just made it public https://github.com/cristianbote/cramped) aliases most of the APIs that I needed

[2021-11-11 09:08] Adam-Collier commented on #384
I tried that and it worked fine 👍 but I did come across an issue when trying to do something like:

[code]

Say the direction prop is set to "column", then it adds "false" to the styles, affecting the next style declaration. I would have thought it would have acted the same as what you suggested above but it seems like that's not that case, any idea why?
![image](https://user-images.githubusercont

[2021-11-11 09:20] cristianbote commented on #384
🤔 that's strange. I quickly tested this in here https://codesandbox.io/s/restless-surf-5d8j4?file=/src/App.js and seems to be working fine with or without defining the padding conditional. I think though I am missing some more context on this.

[2021-11-11 09:31] Adam-Collier commented on #384
I've tweaked your sandbox here to replicate: https://codesandbox.io/s/cranky-shaw-t9d0m?file=/src/App.js 🙂 If you open the dev tools you should see the issue I mentioned. If you then switch the prop value to "bloo" you will see that that works as expected

[2021-11-11 10:00] cristianbote commented on #384
Thank you @Adam-Collier your sandbox lead me to find the issue. Opened-up a PR to address this (with a test of course). Will publish a new release soon.

[2021-11-11 10:02] #384 closed

[2021-11-11 10:03] cristianbote commented on #384
Published 2.0.43

[2021-11-11 10:11] cristianbote commented on #384
Just updated with the new version https://codesandbox.io/s/sad-fog-nnqcb?file=/src/App.js and it seem to be working -- except that `blah` is not a valid padding value 😄

[2021-11-11 11:05] Adam-Collier commented on #384
Perfect! Thats working great 👍 I appreciate you taking the time to sort this and so quickly too! Yeahhhh "blah" was probably not the best choice but it got the point across 😅

[2021-11-12 10:17] sanjayjb opened #387 "question: can we add a custom prefix to the className instead of 'go'?"
I have a scenario where there might be conflicting class names generated by gooober hash, is there anyway I can use a custom className prefix like 'be' instead of 'go'?

[2021-11-12 22:08] Adam-Collier opened #388 "Setting "as" on an extended styled component removes the existing styles"
Came across this issue when I wanted to extend a Stack component (which is a styled component) and change it to a different tag, only to find that the base styles that were supposed to be extended were removed.

You can try it out for yourself here:
https://stackblitz.com/edit/nextjs-yrwh2y?file=pages%2Findex.js

the "as" value is currently set to "section" and you can see there is no gap between

[2021-11-15 07:05] cristianbote commented on #388
Hey @Adam-Collier, looking into it. Thanks for reporting!

[2021-11-16 00:35] B-Teague commented on #387
The chance of a collision with the hash function should be very low.  On the small occasion it does happen, you can reorder the properties around in one of the styled components to generate a different hash value.

[code]

change to

[code]

[2021-11-22 19:53] cristianbote commented on #388
Hey @Adam-Collier sorry for being MIA but took another look and it seems that you _fixed_ it by having a wrapper defined and passing `as` prop to it?

[2021-11-22 20:20] #354 closed

[2021-11-22 20:27] #375 closed

[2021-11-23 09:47] #388 closed

[2021-11-23 09:49] cristianbote commented on #348
Hey! Just checked with #392 https://codesandbox.io/s/vanilla-forked-y0cuc?file=/src/index.js and it works now. Publishing soon!

[2021-11-23 09:49] #348 closed

[2021-11-23 09:51] cristianbote commented on #332
This got fixed not sure why it didn't autoclosed 🤷

[2021-11-23 09:51] #332 closed

[2021-11-23 10:14] #315 closed

[2021-11-23 10:30] #282 closed

[2021-11-23 10:47] cristianbote commented on #335
Took another look at this and this:
[code]
returns this:
[code]

which I would say is the expected value to be generated, is it not?

[2021-11-23 10:50] #351 closed

[2021-11-23 12:02] mikestopcontinues commented on #335
If that's what it's doing now, I'd say it's fixed! 🙂

[2021-11-23 12:02] #335 closed

[2021-11-23 20:32] Adam-Collier commented on #388
Hey @cristianbote no need to apologise! Amazing stuff getting a fix out there, perfect timing too

[2021-11-23 21:25] B-Teague commented on #387
@cristianbote Maybe picking different prime values would help reduce collision rates?
[https://www.planetmath.org/goodhashtableprimes](https://www.planetmath.org/goodhashtableprimes)
out = 97
factor = 769

This might reduce collision rates without impacting performance or bundle size

[2021-11-30 10:59] Profesor08 opened #397 "How to make every class name to be unique?"
I have a situation where I want to apply style to element on some case. But I can't target desired child element, becaouse a lot of child elements has the same class name. `.go11` is child of `.go11` wtf?
![image](https://user-images.githubusercontent.com/8218016/144035146-38129a30-98be-481a-8d2b-4edca73066e9.png)

[2021-11-30 18:07] Profesor08 commented on #387
@B-Teague how about this scenario?

[code]

[2021-12-04 04:13] B-Teague commented on #387
@Profesor08 Hmmm, I see where this could be a bit buggy if two different styled elements have the exact same css resulting in the same class name.  The current workaround would be to add the different hover values to the children instead of the parent.

https://codesandbox.io/s/react-goober-forked-ynd84?file=/src/index.js

[code]

[2021-12-04 04:20] B-Teague commented on #397
@Profesor08 See my reply for https://github.com/cristianbote/goober/issues/387
The current workaround is to refactor your code to move different hover values into the children instead of the parent.
Ideally, you don't want two components to have the exact same css.  Once their css is different, they can become their own components.  Example: HoverLinkRed and HoverLinkBlue

[2021-12-04 13:41] Profesor08 commented on #397
This is required behavior. Some elements must change their styles on hovering their container. This is very common case, where you need to change something inside depending on hover. Showing/hiding some buttons, replacing one lement with onother. Some times they has different styles, but some times thei have same styles, or just has some common wrapper.

Making them to extend some base styled do n

[2021-12-06 03:21] B-Teague commented on #397
@cristianbote There is definitely different behavior here.  Just so we can compare apples and oranges, I cloned @Profesor08  example using styled-components instead of goober to compare functionality:

https://codesandbox.io/s/react-goober-forked-ynd84?file=/src/index.js

You can comment out the setup line and goober and enable styled-components to see how the color changes differently on hover.

[2021-12-06 05:04] B-Teague commented on #397
So it looks like StyledComponents doesn't cache it's CSS?  Since every styled component has a unique class, this allows you to use the same CSS across multiple styled components without conflict.

[2021-12-06 05:33] B-Teague commented on #397
@Profesor08 A hacky workaround that I tested is to put in some dummy css to force the template strings to be different between Link and Button.  This will generate unique class names which should address your problem.
@cristianbote I think giving the developer the ability to force a unique class name when the css is the same might be a necessary feature to address this problem.  Your thoughts?

I

[2021-12-06 05:34] ksenginew commented on #366
But JavaScript objects cannot contain duplicate keys???

[2021-12-07 06:36] ksenginew commented on #314
Note we can use JavaScript comments instead
[code]

[2021-12-07 07:03] cristianbote commented on #397
Heyo!

So the `go11` className comes from an empty style rule, which makes sense. I believe the community wanted this behaviour before as well so this is why this exists:
https://github.com/cristianbote/goober/blob/168bbc55424ae3db95aca09c4fd02716efb98b78/src/styled.js#L31 would this be something that could help out?

[2021-12-07 16:03] Profesor08 commented on #397
@cristianbote

It is ok, if you manage only style rules, and you can continue doing it by this way. But this will not work for components. Every component is designed to be unique, and reusable. They all can have common styles, common classes, but every one must have his own unique class name. And all relations between components must use only their unique class names.

[2021-12-08 05:40] B-Teague commented on #397
@cristianbote This makes total sense when you think about it like instances of an object class.  Each styled component is its own class: Link, Button, Tab, etc.
You don't want Link and Button sharing the same css className, each instance of a Link should only use the Link css className.  Each instance of the Button should only use the Button css className.

We need a way to cache the css "per styl

[2021-12-08 06:14] Profesor08 commented on #397
@B-Teague

Yes. If some prop will change, and after that will change back, we don't need to generate every time one new class name.

It will generate new class name on every render.

[2021-12-09 02:53] B-Teague commented on #397
@Profesor08 Looks like it works as intended now assuming @cristianbote doesn't have any concerns with my PR.
https://codesandbox.io/s/react-goober-forked-3vnqd

[2021-12-09 02:55] B-Teague commented on #387
@sanjayjb Does this PR #400 fix your issue?  Can you recreate your problem here?
https://codesandbox.io/s/react-goober-forked-3vnqd

[2021-12-10 05:12] B-Teague commented on #397
@cristianbote I opened PR #401 which reduces the bundle size and also fixes this issue.

[2021-12-25 23:47] meftunca opened #405 "Make numeric values ​​take px suffix in relevant fields"
Make numeric values ​​take px suffix in relevant fields

In short, it should be done like the following example
[code]

[2021-12-27 11:08] #405 closed

[2021-12-28 03:14] meftunca opened #406 "Property 'as' does not exist on type 'IntrinsicAttributes & Omit<ClassAttributes<HTMLInputElement> & InputHTMLAttributes<HTMLInputElement> & { ...; } & { ...; }, "theme">'"
Property 'as' does not exist on type 'IntrinsicAttributes & Omit<ClassAttributes<HTMLInputElement> & InputHTMLAttributes<HTMLInputElement> & { ...; } & { ...; }, "theme">'

[2021-12-29 00:11] btakita opened #407 "SyntaxError: Named export 'css' not found. (from esm import)"
`import 'solid-styled-components'` causes the following error from goober:

[code]

See https://github.com/solidjs/solid-styled-components/issues/10

[2021-12-30 06:32] rschristian commented on #407
Just ran into this myself.

The issue is that Goober is using `.js` as the `"import"` condition's extension without the package being labeled a module. This just isn't valid in Node. Need to use `.mjs` (which seems to have been decided against in #242) or add `"type": "module"`.

I'll see if I can get a PR together.

[2022-01-07 09:05] realStandal opened #409 "Support `defaultProp`"
It'd be nice for the following to be typed and not throw an error in TypeScript:

[code]

Locally, I can add a `defaultProps` field to the [object intersected onto the `StyledVNode` type](https://github.com/cristianbote/goober/blob/bb7fd3e785e05496cf7ed4a1bded8f13946853a3/goober.d.ts#L72) and give it a type of `T`. This is when using React, I'm not sure if this is a React-only sort of thing and ou

[2022-01-07 09:07] realStandal commented on #409
Or even if `StyledVNode` were to be an interface so it can be overridden from user-land, much like how `DefaultTheme` is defined.

The functionality works in JavaScript, the types just break compilation.

[2022-01-08 19:38] dougg0k opened #410 "Are goober compatible and does it work well with remix.run?"
the title is the question.

https://remix.run/

[2022-01-10 07:41] cristianbote commented on #410
Heya @dougg0k!

That's a fair question and when remix launched I looked into it and bumped into this section in their readme https://remix.run/docs/en/v1/guides/styling#css-in-js-libraries I followed the instructions there and it worked.

But I think what the team states there is quite true and makes total sense for remix so in order to make sure remix works fine I would follow their recommendatio

[2022-01-10 07:42] cristianbote commented on #409
Heyo! Any chance you can PR this?

[2022-01-10 07:42] #407 closed

[2022-01-10 07:44] cristianbote commented on #406
Which version of goober throws this?

[2022-01-10 07:46] cristianbote commented on #407
Just published `2.1.2` with @rschristian's fix. Let me know if you are still running into this. Thank you both for your excellent help!

[2022-01-10 09:42] realStandal commented on #409
@cristianbote Of course, see the linked one above :)

[2022-01-10 10:57] #409 closed

[2022-01-10 11:00] cristianbote commented on #409
published `2.1.3` with the above! Thank you!

[2022-01-10 12:37] dougg0k commented on #410
Hey @cristianbote

Nah, that's enough, thanks.

[2022-01-10 12:37] #410 closed

[2022-01-11 04:23] btakita commented on #407
Thank you for the PR & release. I'm now having issues with:

[code]

[code]

[2022-01-11 04:31] rschristian commented on #407
Ah, sorry. Apparently Microbundle isn't ran from root, but installed separately for building the packages. Didn't catch that.

Need to upgrade them all in order to handle `.cjs` properly. I'll get a fix together soon.

[2022-01-11 07:00] rschristian commented on #407
@btakita v2.1.5 was just published which should correct this.

[2022-01-12 09:19] #173 closed

[2022-01-12 10:33] chainalert-bot opened #414 "ChainAlert: npm package release (2.1.6) has no matching tag in this repo"
Dear [goober](https://npmjs.com/package/goober) maintainers,
Thank you for your contribution to the open-source community.

This issue was automatically created to inform you a **new version (2.1.6) of [goober](https://npmjs.com/package/goober) was published without a matching tag in this repo**.

Our service monitors the open-source ecosystem and informs popular packages' owners in case of potent

[2022-01-12 10:40] cristianbote commented on #414
Forgot to push to master. Thanks for the reminder!

[2022-01-12 10:40] #414 closed

[2022-01-12 10:53] kaplanlior commented on #414
We're happy to help (:

[2022-01-12 23:44] btakita opened #415 "Too much recursion error - v2.1.6"
Using vite, solid-js, solid-styled-components, the following error occurs in the browser.

[code]

[code]

`css.apply` is being called.

https://github.com/solidjs/solid-styled-components/blob/main/src/index.js#L38-L41

[2022-01-12 23:58] btakita commented on #415
After formatting `goober.modern.js`, the line that has too much recursion is:

[code]

from https://github.com/cristianbote/goober/blob/master/src/core/astish.js#L13

[2022-01-13 00:06] btakita commented on #415
Here is the value that causes too much recursion. It's the source of normalize.css

[code]

[2022-01-13 00:21] btakita commented on #407
@rschristian Thank you. I'm also getting successful builds.

[2022-01-13 01:57] ksenginew commented on #415
@btakita
I don't know too much about this type of for loop. I am using `for ...of`, `for...in` or `while` loops mostly.

But there is a while loop in `astish.js`, that while loop should work properly. Looks like build tools converted it to a `for` loop(informal). We can test it by replacing that while loop with the for loop.

[2022-01-13 05:54] cristianbote commented on #415
Thank you @btakita!

`2.1.6` has the regex changes @ksenginew so I'm gonna look into it quickly and see if there's an easy fix.

[2022-01-13 07:24] #415 closed

[2022-01-18 15:26] kasperaamodt opened #422 "Next JS typescript error"
Hi,

In the [_document.tsx](https://github.com/kasperaamodt/aamodt/blob/ts/pages/_document.tsx) file in next js, I have the snippet from the next js goober example. When I installed TS in the project, I get a type error on this.props.css;

`Property 'css' does not exist on type 'Readonly<RenderPageResult & { styles?: ReactFragment | ReactElement<any, string | JSXElementConstructor<any>>[]; } & Htm

[2022-01-19 06:33] realStandal opened #423 "Custom CSS properties are manipulated from camel to kabab casing"
The camel-To-Kabab is just to explain what I'm seeing.

For the given global style:

[code]

The following will be applied to the browser:

[code]

I don't think there are any rules being broken by my use of camel casing. The [MDN docs](https://developer.mozilla.org/en-US/docs/Web/CSS/--*#syntax) even highlight how casing is important in differentiating one property from another (see the "Note" in

[2022-01-19 06:42] cristianbote commented on #423
Hey @realStandal thanks for opening this issue! You are right! That line in there is meant for properties defined as `WebkitFooBaz` to be transformed into `-webkit-foo-baz` or just a normal camelCase to dash-case.

Indeed is a but, since it shouldn't pick the css vars at all.

[2022-01-19 06:44] cristianbote commented on #422
Oh hmm wonder how can you tell nextjs what props are gonna be coming from `getInitialProps()` call 🤔  that should be the fixed really. The `css` prop doesn't exist on `this.props.css` on document. Not really a goober related type issue.

[2022-01-22 07:10] meftunca opened #426 "how can i create global style dynamically"
Styles defined globally should change as theme properties change.

Currently I can only give the html tag as className.

[code]

[2022-01-22 11:40] #406 closed

[2022-01-24 10:47] #426 closed

[2022-02-13 23:37] alexey-koren opened #433 "Update csstype peer dependency package"
Hello

We started to use react-hot-toast library. And you are their [dependency](https://github.com/timolins/react-hot-toast/blob/main/package.json).

And you have a peer dependency [csstype](https://github.com/frenic/csstype/releases) v^2.6.2, which is published at 29 Jan 2019

It seems like you used it only in your goober.d.ts, and I checked their updates, they added TTime into Properties interf

[2022-02-14 06:35] cristianbote commented on #433
Hi @alexey-koren I think so! Since this is a peer dep shouldn't be that much of a breaking change. Would you like to open up a PR for this? I would much appreciate it!

[2022-02-14 06:38] #423 closed

[2022-02-14 09:07] alexey-koren commented on #433
Okay. Should I also update your devDep to old cssType?

[2022-02-14 22:03] alexey-koren commented on #433
@cristianbote #434 I saw that you are using an old version of package-lock, so I'm not sure if I should update it.

[2022-02-15 06:44] cristianbote commented on #433
Yes to dev devDep but let me update the package-lock since that's gonna be committed in here. How does that sound?

[2022-02-15 06:58] alexey-koren commented on #433
Okay, done

[2022-02-15 07:25] #433 closed

[2022-02-22 11:54] iamriot-dev opened #437 "React forwardRef breaks nested styled components"
When using React's forwardRef, nested styled components do not get styled correctly. This problem does not happen without forwardRef.

[code]

Goober fails to retrieve the class name when generating the CSS.
[code]

This seems to be unique to React, as it is not occurring when using Preact and its forwardRef.

[2022-02-22 13:13] cristianbote commented on #437
Interesting 🤔 Thanks for opening up this issue!

[2022-02-22 19:53] cristianbote commented on #422
@kasperaamodt let me know if you still have issues with this. Closing meanwhile.

[2022-02-22 19:53] #422 closed

[2022-02-22 19:57] cristianbote commented on #397
So, what is expected here? I'm leaning towards that this is an intended behaviour and outside of the scope of goober as I believe this is not doable from a runtime POV. Thoughts?

[2022-02-22 19:58] cristianbote commented on #387
@sanjayjb at this moment no. goober does not support this.

[2022-02-22 19:58] #387 closed

[2022-02-22 19:58] #383 closed

[2022-02-22 19:59] cristianbote commented on #382
I believe the discussion will happen onto the PR, right @B-Teague? Can we close this issue?

[2022-02-22 19:59] #382 closed

[2022-02-22 20:00] cristianbote commented on #379
@HenrikDK2 if you still happen to have this issue, please feel free to reopen this. Thank you!

[2022-02-22 20:00] #379 closed

[2022-02-22 20:03] cristianbote commented on #300
I believe this got solved meanwhile. Thanks @vfonic!

[2022-02-22 20:03] #300 closed

[2022-02-22 20:04] #280 closed

[2022-02-22 20:06] #258 closed

[2022-02-22 20:07] cristianbote commented on #244
I believe this got fixed. @gustavoaz7 let me know if you still have issues with this.

[2022-02-22 20:07] #244 closed

[2022-03-01 20:31] glassdimlygr commented on #30
Any update for 2022?

[2022-03-01 20:36] cristianbote commented on #30
Hey @glassdimlygr what sort of update are you looking for? 🤔 If there's a next.js template? There is https://github.com/vercel/next.js/tree/canary/examples/with-goober

[2022-03-04 12:09] dougg0k commented on #331
Hey @mimiqkz you can try improving the typing.

`goober.d.ts`
[code]

[2022-03-09 03:20] nairdua opened #440 "createGlobalStyles only renders the last defined @font-face"
Sandbox: https://codesandbox.io/s/goober-global-styles-fonts-vwjy82?file=/src/index.tsx
It appears that if you define multiple font-faces in createGlobalStyles, the last one defined will be the one rendered. I'm not sure if this is related to #102.

Thanks!

[2022-03-16 15:46] fabiospampinato opened #441 "Components referencing themselves"
For some components of mine I need to have them reference themselves, with `styled-components` I could write something like this to do that:

[code]

But with goober that patterns seems unsupported. Moreover I will most probably need to reference components from other components, so I'd expect something like `${Component}` to give me the unique class associated with that component.

What's the equ

[2022-03-16 15:55] fabiospampinato commented on #441
Adding a `.toString = () => 'random-class-here'` to components made with goober seems to work pretty well actually 🤔 would that be the recommended way to do this? Any issues that I might encounter with that?

[2022-03-16 16:02] fabiospampinato commented on #441
I think that might not work properly for components that extend other components 🤔

[2022-03-16 16:11] fabiospampinato commented on #441
I think this might work:

[code]

[2022-03-16 17:39] fabiospampinato commented on #441
Slight update, since it's problematic to return multiple class from `toString` and it's more convenient to return them with the dot for easier interpolation:

[code]

[2022-03-17 07:02] cristianbote commented on #441
Heya @fabiospampinato thanks for opening this issue.

Nifty little findings you got there! The `.toString` method seems interesting. Now goober does support self-referencing notation with the `&` sign. No need to do the inline function `&{() => Component}`. Take a look at this snippet:

[code]

You can see it live here as well https://codesandbox.io/s/sweet-sound-nvtn4w

Does this answer your ques

[2022-03-17 07:07] cristianbote commented on #440
Hey @nairdua thanks for opening this issue!

Yup indeed, since the inner parser of goober basically translates the given styles into an internal tree-shape(AST) and that shape is basically an object, duplicate keys are basically overwritten by the latest read value. It's something that I wanna tackle in the next iteration. I'll keep this updated when it's ready.

Have a great one!

[2022-03-17 09:19] nairdua commented on #440
Thanks for the response @cristianbote! As a workaround should I use `glob` or some other method to define the `@font-faces`?

[2022-03-17 09:33] cristianbote commented on #440
I believe you could rely on it yes. Something like this:

[code]

Just heads-up I have not tested this yet, but should work.

[2022-03-17 09:51] nairdua commented on #440
Thanks for the tip, I think we can close this issue.

[2022-03-17 09:51] #440 closed

[2022-03-18 14:25] fabiospampinato commented on #441
@cristianbote using `&` works, but it's a little constraining in some situations, for example if I have to and prefer to write selectors like this now I can't reference the parent component anymore:

[code]

Potentially that's a limitation that can be worked around by rewriting the code like this:

[code]

And that would be ok in simple snippets like that, but I think it would get really messy pot

[2022-04-16 16:48] thebrubaker commented on #218
Thanks for working on this one! Having the same issue and this would be 💯

[2022-04-21 08:06] pchmn opened #446 "`shouldForwardProp` not working when styling custom components"
When using `shouldForwardProp` like this:
[code]

If we styled a custom component with an additional prop starting with "$", this prop is stilled forwarded to the DOM, but it shouldn't.
It works well when styling "native" html element.

An example:
[code]
`$animate` prop shouldn't be forward to the DOM, but react gives this warning:
[code]

However if we styled an `h1` directly, `$animate` prop is

[2022-04-21 08:17] cristianbote commented on #446
Hey @pchmn, thanks for opening this issue.

Looking at the _actual_ html rendered the `$animate` attribute is not rendered which is correct, but `react` still warns about it.
<img width="1032" alt="Screenshot 2022-04-21 at 11 12 48" src="https://user-images.githubusercontent.com/3405161/164410723-59afd257-f947-479c-ab3b-946413a40361.png">

Gonna look into why it warns for components that are exten

[2022-04-21 08:33] pchmn commented on #446
Thanks for the quick reply !
Ah yes you're right, the attribute is not attached to the html.
Yeah maybe it is a typing problem 🤔

[2022-04-26 20:55] jackmoore opened #447 "A newline will cause meaningful whitespace to be stripped."
This:
[code]
Gets outputted as this:
[code]

Same thing if it's spaces instead of tabs. If a newline is in the mix, the space/tab gets stripped also. Our project's code-formatting tool is inserting line-breaks creating invalid CSS when run through Goober v2.1.8.

[2022-04-27 05:56] cristianbote commented on #447
Hey @jackmoore, thanks for opening this issue.

Indeed 😞 I believe the space and comment cleanup regex rule replaces them with nothing. I believe replacing those with a space instead would make the syntax valid again.

[2022-04-27 11:35] #447 closed

[2022-04-27 11:39] cristianbote commented on #447
Published `v2.1.9` with the fix for the above.

[2022-04-27 11:52] cristianbote opened #451 "v3"
Starting to think about `v3` but not necessarily new features that pops up but rather breaking changes in APIs.

1. Move away from second argument as function to object based to allow passing `forwardRef` and `shouldForwardProp` functions.
[code]
2. With the above, the `setup` function will not be needed anymore to have a 4th argument
[code]
2. Remove `glob` export from `goober`

[2022-05-27 01:17] vedantroy opened #454 "How does this library achieve such a small size?"
This library is over 10x smaller than similar libraries, which is super impressive!
I was wondering what the trade-off is. I.e., presumably there is a reason other libraries are 10x the size.
And I assume the people behind styled-components & emotion are also trying hard to optimize their bundle sizes.
So what gives?

[2022-05-27 06:39] cristianbote commented on #454
Hey @vedantroy, thanks for opening this issue.

Indeed, there are definitely some tradeoffs. I created this feature tradeoffs list in here https://github.com/cristianbote/goober#comparison-and-tradeoffs specifically to address some of the concerns and valid questions.
* goober has it's own css parser which I believe styled-components and emotion are using stylis lib.
* styled-components and emotio

[2022-05-28 08:44] #454 closed

[2022-05-28 15:53] vedantroy opened #455 "How to handle forward ref if it is created inside a component"
I have a situation where I create a React component that has a shadow DOM inside:

[code]

The issue is, the shadow DOM is not created until the first render. So I can't bind goober till after the first render. I think this creates a problem, because I can only use all the goober functions after the first render.

This is particularly problematic, because I'm consuming a library (https://github.co

[2022-06-02 17:00] codylindley opened #457 "The "goober-autoprefixer" package is missing a license causing corporate component governance audits to fail"
The internal package called,"goober-autoprefixer" is the name of a published npm packaged, called: "goober-autoprefixer".

This package it seems is internal to goober, but for some reason also published. i.e. it is not actually a dependency of goober e.g. https://npmgraph.js.org/?q=goober

However, upon security reviews that npm package is flagged because it lacks a license. i.e. https://clearlyde

[2022-06-03 06:27] cristianbote commented on #457
Hey @codylindley,

Thanks for opening this issue. The `goober-autoprefixer` is an old package that used to be how I've managed to publish agnostic(ish) packages to be used for certain functionality. Now, everything is part of the main dependency and there is no `prefixer` package anymore but rather a nested plugin.

[code]
More info here https://github.com/cristianbote/goober/tree/master/prefixer#

[2022-06-03 15:47] codylindley commented on #457
Thanks for the reply. Nods. Totally understood that this had become a nested packaged. But because it is also a published package it needs a license to make compliance tools happy in both places. So if you are willing I see to choices.

1. Rename the internal nested package
2. Eliminate the package.json of the internal nested package, thus eliminating the name
3. Add the same license you use in go

[2022-06-04 07:04] cristianbote commented on #457
Oh, ok now I get it. I don't think it'll be any issue to add the LICENSE to `goober-autoprefixer` package and publish it under a new version with it, so I'll do point number 3.

Keep you posted.

[2022-06-06 06:03] cristianbote commented on #457
Hey @codylindley,

Published a new version `1.2.3` with the MIT license attached. Please let me know if there's anything else that I need to be doing.

Thanks again for opening this issue and giving me clear information. Much appreciated.

[2022-06-06 06:05] #457 closed

[2022-06-06 16:13] codylindley commented on #457
Thank you! Really appreciate you doing this. :) Cheers.

https://npmfs.com/package/goober-autoprefixer/1.2.3/LICENSE

[2022-06-14 01:59] B-Teague commented on #397
@cristianbote Agreed, per my last comment on the closed PR:
"I think we can state the library is working as designed unless you want to implement a way to generate unique class names for each time styled is called, but still preserve hydration for server side rendering."

Hydration would break if the order of Button1 and Button3 are switched if we used an internal counter.  The only way to support